.sign-in{
  width: 380px;
  height: 358px;
  background-color: #fff;
  box-shadow: $shadow-02;
}
.signin-container{
  width: 320px;
  padding-top: 40px;
  padding-left: 30px;

 &__input{
   margin: 21px 0 20px 0;
   &>*+*{
     margin-top: 10px;
   }}
   
 &__item{
   @include flex-between;
   padding-top: 29px;
 }
 
 &__text{
   @include intermediate-text($fs:14px,$lh:18px,$col:#000)
 }
 
 &__button-wrap{
   margin-right: 1.6px;
   margin-top: 1px;
 }
}
