.sign-in {
  max-width: 380px;
  max-height: 358px;
  background-color: #fff;
  box-shadow: $shadow-02;
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  
  @media (max-width: 360px) {
    padding: 8% 2%;
  }

  &__container {
    max-width: 320px;

    @media (max-width: 360px) {
      padding-left: 40px;
    }
  }

  &__inputs {
    margin: 16px 0 20px 0;

    @media (max-width: 360px) {
      width: 90%;
    }
  }
  
  &__input + &__input {
    margin-top: 5px;
  }
  
  &__item {
    padding-top: 29px;

    @include flex-between;
    
    @media (max-width: 360px) {
      justify-content: center;
    }
  }

  &__text {
    @include intermediate-text($fs: 14px, $lh: 18px, $col: #000);
    
    @media (max-width: 360px) {
      @include intermediate-text($fs: 12px, $lh: 12px, $col: #000);
    }
  }

  &__button {
    margin-right: 1.6px;
    margin-top: 1px;
    
    @media (max-width: 360px) {
      margin-left: 4px;
    }
  }

  &__btn {
    width: 320px;
  
    @media (max-width: 400px) {
      width: 300px;
    }

    @media (max-width: 360px) {
      width: 90%;
    }
  }

}