mixin form-signing({data})
  form.sign-in
    .signing-container
      +title(data.text)
      .signing-container__input
        +text-field(data.inputEmail)
        +text-field(data.inputPass)
      +button(data.btnSign)
      .signing-container__item
        .signing-container__text= data.content
        .signing-container__button-wrap
          +button(data.btnIn)
