mixin form-signin({btnSign,btnIn,text,inputEmail,inputPass,content})
  form.sign-in
    .signin-container
      +title(text)
      .signin-container__input
        +input(inputEmail)
        +input(inputPass)
      +button(btnSign)
      .signin-container__item
        .signin-container__text= content
        .signin-container__button-wrap
          +button(btnIn)
