mixin form-signin({data})
  form.sign-in
    .signin-container
      +title(data.text)
      .signin-container__input
        +text-field(data.inputEmail)
        .signin-container__passwd
          +text-field(data.inputPass)
      +button(data.btnSign)
      .signin-container__item
        .signin-container__text= data.content
        .signin-container__button-wrap
          +button(data.btnIn)
