.sign-in{
  width: 380px;
  height: 358px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.signin-container{
  width: 320px;
  padding-top: 40px;
  padding-left: 30px;

 &__input{
   margin: 20px 0;
   &>*+*{
     margin-top: 10px;
   }
   
 }
   
 &__item{
   display: flex;
   align-items: center;
   margin-top: 30px;
   &>*+*{
     margin-left: 62px;
   }
   
 }
 
 &__text{
   font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
   
 }
}
