mixin form-signing({data})

  - const {text,inputEmail,inputPass,btnSign,btnIn,content} = data 

  form.sign-in
    .signing-container
      +title(text)
      .signing-container__input
        +text-field(inputEmail)
        +text-field(inputPass)
      .signing-container__btn
       +button(btnSign)
      .signing-container__item
        .signing-container__text= content
        .signing-container__button-wrap
          +button(btnIn)
