.dropdown {
  position: relative;
  width: 100%;

  &__menu {
    position: absolute;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(31, 32, 65, 0.5);
    display: none;
    z-index: 5;
    border-top: none;
    border-radius: 0 0 2px 2px;
  }

  &__title {
    @include intermediate-text($col: $dark75, $lh: 18px) cursor: pointer;
    position: relative;
    padding: 11.7px 12px 11.7px 13.5px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 2px;
  }

  &__title:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 2px 2px 0 0;
  }

  &_active {
    display: block;
  }

  &__button {
    @include small-text($col: $purple);
    text-transform: uppercase;
    background: none;
    border: none;
    outline: none;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
    padding-left: 2px;
    padding-bottom: 11px;
  }
  &__button_clear {
    padding-left: 11.5px;
  }

  &__arrow {
    padding: 10px;
    pointer-events: none;
    border: none;
    background: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 44px;
    width: 44px;
    @include flex-center;
    @include material-font($lh: 24px, $col: $dark75, $bg: $dark75);
  }

  &__button_hidden {
    display: none;
  }
}
