mixin dropdown(mods,number,number2,number3,text)
    .form-group
      .dropdown
        button(type="button").dropdown__button= text
        .dropdown__list(class=""+mods)
          .dropdown__list-item(data-value='travel')
            span.dropdown__text Взрослые
            .calculate
              button(type="button").button-mat.button-minus -
              span(number)=number
              button(type="button").button-mat.button-plus +
          .dropdown__list-item(data-value='lessons')
            span.dropdown__text.sub Дети
            .calculate
              button(type="button").button-mat.button-minus -
              span(number)=number2
              button(type="button").button-mat.button-plus +
          .dropdown__list-item(data-value='photo')
            span.dropdown__text.sub  Младенцы 
            .calculate
              button(type="button").button-mat.button-minus -
              span(number)=number3
              button(type="button").button-mat.button-plus +
          .button-box
            button.button-footer Очистить
            button.button-footer.button-left Применить

mixin dropdown-medium(mods,mod)
    div(class=''+mod).dropdawn-medium
      .dropdown
        button(type="button").dropdown__button 2 спальни, 2 кровати...
        .dropdown__list(class=''+mods).dropdawn-medium
          .dropdown__list-item(data-value='travel')
            span.dropdown__text Спальни
            .calculate
              button(type="button").button-mat.button-minus -
              span.number 2
              button.button-mat.button-plus +
          .dropdown__list-item(data-value='lessons')
            span.dropdown__text.sub кровати
            .calculate
              button.button-mat.button-minus -
              span.number 2
              button.button-mat.button-plus +
          .dropdown__list-item(data-value='photo')
            span.dropdown__text.sub ванные комнаты
            .calculate
              button.button-mat.button-minus -
              span.number 0
              button.button-mat.button-plus +
