mixin dropdown(name="")
 .dropdown(data-words='гость,гостя,гостей', data-default='Сколько гостей')
 
  .dropdown__section
    h3.dropdown__title 3 гостя
    button.dropdown__arrow(type='button') expand_more
    
  .dropdown__menu(class=""+name)
  
    .dropdown__option
      .dropdown-counters
        .dropdown-counter__name
          h3.dropdown-counters__title Взрослые
        .dropdown-counters__controls
          .dropdown-counters__button.dropdown-counters__minus -
          .dropdown-counters__value 2
          .dropdown-counters__button.dropdown-counters__plus +
          
    .dropdown__option
      .dropdown-counters
        .dropdown-counter__name
          h3.dropdown-counters__title Дети
        .dropdown-counters__controls
          .dropdown-counters__button.dropdown-counters__minus -
          .dropdown-counters__value 1
          .dropdown-counters__button.dropdown-counters__plus +
          
    .dropdown__option
      .dropdown-counters
        .dropdown-counter__name
          h3.dropdown-counters__title Младенцы
        .dropdown-counters__controls
          .dropdown-counters__button.dropdown-counters__minus -
          .dropdown-counters__value 0
          .dropdown-counters__button.dropdown-counters__plus +
          
    .dropdown__buttons
      button.dropdown__button.dropdown__button_clear(type='button') очистить
      button.dropdown__button.dropdown__button_use(type='button') применить

mixin dropdown-medium(name="")
    
  .dropdown(data-default='Сколько спален и кроватей?')
 
   .dropdown__section
     h3.dropdown__title 2 спальни, 2 кровати...
     button.dropdown__arrow(type='button') expand_more
     
   .dropdown__menu(class=""+name)
   
    .dropdown__option
      .dropdown-counters(data-words='спальня,спальни,спален')
        .dropdown-counter__name
          h3.dropdown-counters__title Спальни
        .dropdown-counters__controls(data-min='1')
          .dropdown-counters__button.dropdown-counters__minus -
          .dropdown-counters__value 2
          .dropdown-counters__button.dropdown-counters__plus +
          
    .dropdown__option
      .dropdown-counters(data-words='кровать,кровати,кроватей')
        .dropdown-counter__name
          h3.dropdown-counters__title кровати
        .dropdown-counters__controls(data-min='1')
          .dropdown-counters__button.dropdown-counters__minus -
          .dropdown-counters__value 2
          .dropdown-counters__button.dropdown-counters__plus +
          
    .dropdown__option
      .dropdown-counters(data-words='ванная,ванные,ванных')
        .dropdown-counter__name
          h3.dropdown-counters__title Ванные Комнаты
        .dropdown-counters__controls
          .dropdown-counters__button.dropdown-counters__minus -
          .dropdown-counters__value 0
          .dropdown-counters__button.dropdown-counters__plus +
          
    .dropdown__buttons.dropdown__button_hidden
      button(class="dropdown__button dropdown__button_clear" type='button') очистить
      button.dropdown__button.dropdown__button_use(type='button') применить