mixin dropdown({mod="",modSect="",title="Сколько гостей",modBtn,name,defaultTitle="Сколько гостей",items = [{ title, name, number, }]})
  .dropdown(data-name=name, data-default="" + title)
    .dropdown__section(class="" + modSect)
      h3.dropdown__title= defaultTitle
      button.dropdown__arrow(type='button') expand_more

    .dropdown__menu(class="" + mod)
      .dropdown__option
        each item in items
          +dropdown-counters(item)

      .dropdown__buttons(class="" + modBtn)
        .dropdown__container
          button.dropdown__button.dropdown__button_clear(type='button') очистить
        .dropdown__container
          button.dropdown__button.dropdown__button_use(type='button') применить
