mixin dropdown({mod="",modSect="",title="Сколько гостей",modBtn,name,items = [{ title, name, number, }]})
 .dropdown(data-name=""+name data-default=""+title)
 
  .dropdown__section(class=""+modSect)
    h3.dropdown__title
    button.dropdown__arrow(type='button') expand_more
    
  .dropdown__menu(class=""+mod)
    .dropdown__option
       each item in items
    
          +dropdown-counters(item)
          
    .dropdown__buttons(class=""+modBtn)
     .dropdown__container
      button.dropdown__button.dropdown__button_clear(type='button') очистить
     .dropdown__container
      button.dropdown__button.dropdown__button_use(type='button') применить


mixin dropdown-counters({title="",name="",number="0"}={})
        
      .dropdown-counters(data-name="room")
        .dropdown-counter__name
          h3.dropdown-counters__title= title
        .dropdown-counters__controls(data-min=""+name)
          .dropdown-counters__button.dropdown-counters__minus -
          .dropdown-counters__value= number
          .dropdown-counters__button.dropdown-counters__plus +