@import '../../scss/_mixin';

.room-details {
  flex: 1 0 auto;

  &__photos {
    display: flex;
    width: 100%;
    height: 485px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__photo {
    background: center, center no-repeat;
    background-size: cover;
    position: relative;

    &-1 {
      width: 68.15%;
      height: 100%;

      @media (max-width: 790px) {
        width: 60%;
      }
      @media (max-width: 500px) {
        width: 100%;
        height: 33%;
      }
    }

    &-2 {
      width: 33%;
      height: 50%;

      @media (max-width: 790px) {
        width: 40%;
      }
      @media (max-width: 500px) {
        width: 100%;
        height: 33%;
      }
    }

    &-3 {
      width: 33%;
      height: 50%;

      @media (max-width: 790px) {
        width: 40%;
      }
      @media (max-width: 500px) {
        width: 100%;
        height: 33%;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;

    @include container(70px, 9.7%, 74px, 9.7%) @media (max-width: 1200px) {
      flex-wrap: wrap;
    }

    @media (max-width: 450px) {
      padding: 5%;
    }

    @media (max-width: 400px) {
      padding: 3%;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      order: 2;
    }
  }

  &__pie {
    padding-top: 1.5px;
    margin-left: 10.4%;

    @media (max-width: 1320px) {
      margin-left: 3%;
    }

    @media (max-width: 780px) {
      margin-top: 40px;
    }

    @media (max-width: 350px) {
      margin: 0;
      padding-left: 5px;
    }
  }

  &__comment {
    padding-top: 2px;

    @media (max-width: 1320px) {
      padding-left: 3%;
    }

    @media (max-width: 350px) {
      padding: 10px 0;
    }
  }

  &__reviews {
    @media (max-width: 1320px) {
      margin-left: 3%;
      margin-top: 40px;
    }

    @media (max-width: 350px) {
      margin: 0;
      padding: 10px 0;
    }
  }

  &__title {
    padding-bottom: 18px;
    margin-top: 13px;

    @include flex-between;

    @media (max-width: 600px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__title_lower {
    margin-top: 2.5px;
    margin-right: 70px;

    @include intermediate-text($lh: 14px);

    @media (max-width: 350px) {
      margin: 0;
    }
  }

  &__title_murad {
    width: 711px;
    padding-top: 2px;

    @media (max-width: 1000px) {
      width: 91%;
    }
  }

  &__patricia {
    padding-top: 20.5px;
    width: 91%;
  }

  &__rules {
    padding-top: 33px;

    @media (max-width: 1320px) {
      padding-left: 3%;
    }

    @media (max-width: 350px) {
      padding: 10px 0;
    }
  }

  &__text {
    padding-left: 20px;
    padding-bottom: 17.3px;
  }

  &__cancel {
    padding-top: 33px;
    padding-left: 13%;

    @media (max-width: 1320px) {
      padding-left: 3%;
    }

    @media (max-width: 350px) {
      padding: 10px 0;
    }
  }

  &__form {
    padding-top: 1px;

    @media (max-width: 1240px) {
      order: 1;
      margin-bottom: 40px;
      padding-top: 20px;
    }

    @media (max-width: 360px) {
      padding-left: 6%;
    }

    @media (max-width: 328px) {
      padding-left: 3%;
    }
  }

  &__paragraph {
    width: 341px;
    height: 96px;
    margin-top: 18.5px;

    @include body-text;

    @media (max-width: 350px) {
      max-width: 300px;
      padding-bottom: 10px;
    }
  }

  &__title_lower {
    align-self: center;
    padding-top: 2.5px;
    margin-left: 10px;

    @include intermediate-text($lh: 14px);

    @media (max-width: 350px) {
      margin: 0;
    }
  }

  &__formlux {
    margin-left: 9px;
  }

  &__bullet {
    margin-top: 2px;
  }

  &__form-bottom {
    margin-top: 46px;
  }
}
