@import '../../scss/_mixin';

.details {
  flex: 1 0 auto;
  
}

.details-background {
  height: 484px;
  background: url(img/3.jpg) right bottom no-repeat,
  url(img/1.jpg) right top no-repeat, url(img/2.jpg) left no-repeat;


  @media (min-width: 1420px) {

    background-size: 31.85% 50.15%, 31.85% 50%, 68.15%;
  }

}

.room-details {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;

  @include container(70px, 9.7%, 74px, 9.7%)

  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }

  @media (max-width: 450px) {
    padding-left: 5%;
  }

  @media (max-width: 400px) {
    padding: 0;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      order: 2;
    }
  }

  &__pie {
    padding-top: 1.5px;
    margin-left: 10.5%;

    @media (max-width: 1320px) {
      margin-left: 3%;
    }

    @media (max-width: 780px) {
      margin-top: 40px;
    }
    
    @media (max-width: 350px) {
      margin: 0;
    }
  }

  &__comment {
    padding-top: 2px;

    @media (max-width: 1320px) {
      padding-left: 3%;
    }
    
    @media (max-width: 350px) {
      padding: 0;
    }
  }

  &__reviews {
    @media (max-width: 1320px) {
      margin-left: 3%;
      margin-top: 40px;
    }
    @media (max-width: 350px) {
      margin: 0;
    }
  }

  &__title {
    padding-bottom: 18px;
    margin-top: 13px;

    @include flex-between;

    @media (max-width: 600px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__title_lower {
    margin-top: 2.5px;
    margin-right: 70px;

    @include intermediate-text($lh: 14px);
    
    @media (max-width: 35px) {
      margin: 0;
    }
  }

  &__title_murad {
    padding-top: 2px;
    width: 91%;
  }

  &__patricia {
    padding-top: 20.5px;
    width: 91%;
  }

  &__rules {
    padding-top: 33px;

    @media (max-width: 1320px) {
      padding-left: 3%;
    }
    @media (max-width: 350px) {
      padding: 0;
    }
  }

  &__text {
    padding-left: 20px;
    padding-bottom: 17.3px;
  }

  &__cancel {
    padding-top: 32px;
    padding-left: 13%;

    @media (max-width: 1320px) {
      padding-left: 3%;
    }
    @media (max-width: 350px) {
      padding: 0;
    }
  }

  &__form {
    padding-top: 1px;

    @media (max-width: 1240px) {
      order: 1;
      margin-bottom: 40px;
      padding-top: 20px;
    }
  }
  
  &__paragraph {
    width: 341px;
    height: 96px;
    margin-top: 18.5px;

    @include body-text;
  }

  &__title_lower {
    align-self: center;
    padding-top: 2.5px;
    margin-left: 10px;

    @include intermediate-text($lh: 14px);
  
  @media (max-width: 350px) {
      margin: 0;
    }
  }
}

.room-details__formlux{
  margin-left: 10px;
}