@import '../../scss/_mixin';

.room-details {
  flex: 1 0 auto;
  


  &__background {
    height: 484px;
    background: url(images/room3.jpg) right bottom no-repeat,
      url(images/room1.jpg) right top no-repeat, url(images/room2.jpg) left no-repeat;

    @media (min-width: 1501px) {

      background-size: 33% 50.5%, 33% 50.5%, 68.15%;
    }

    @media (max-width: 1500px) {

      background-size: 31.85% 50.15%, 31.85% 50%, 68.15%;
    }

    @media (max-width: 1420px) {

      background-size: 31.85% 50.15%, 31.85% 50%, 68.15%;
    }

    @media (max-width: 1429px) {

      background-size: 33% 50.5%, 33% 50.5%, 68% 485px;    
    }

    @media (max-width: 1100px) {

      background-size: 40% 50.5%, 40% 50.5%, 60% 485px;    
    }

    @media (max-width: 750px) {

      background-size: 50% 50.5%, 50% 50.5%, 50% 485px;    
    }

    @media (max-width: 470px) {

      background-size: 100% 33%, 100% 33%, 100% 36%;    
    }

  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;

    @include container(70px, 9.7%, 74px, 9.7%)

      @media (max-width: 1200px) {
      flex-wrap: wrap;
    }

    @media (max-width: 450px) {
      padding: 5%;
    }

    @media (max-width: 400px) {
      padding: 3%;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      order: 2;
    }
  }

  &__pie {
    padding-top: 1.5px;
    margin-left: 10.4%;

    @media (max-width: 1320px) {
      margin-left: 3%;
    }

    @media (max-width: 780px) {
      margin-top: 40px;
    }
    
    @media (max-width: 350px) {
      margin: 0;
      padding-left: 5px;
    }
  }

  &__comment {
    padding-top: 2px;

    @media (max-width: 1320px) {
      padding-left: 3%;
    }
    
    @media (max-width: 350px) {
      padding: 10px 0;
    }
  }

  &__reviews {
    @media (max-width: 1320px) {
      margin-left: 3%;
      margin-top: 40px;
    }

    @media (max-width: 350px) {
      margin: 0;
      padding: 10px 0;
    }
  }

  &__title {
    padding-bottom: 18px;
    margin-top: 13px;

    @include flex-between;

    @media (max-width: 600px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__title_lower {
    margin-top: 2.5px;
    margin-right: 70px;

    @include intermediate-text($lh: 14px);
    
    @media (max-width: 350px) {
      margin: 0;
    }
  }

  &__title_murad {
    width: 711px;
    padding-top: 2px;
    
    @media (max-width: 1000px) {
      width: 91%;
    }
  }

  &__patricia {
    padding-top: 20.5px;
    width: 91%;
  }

  &__rules {
    padding-top: 33px;

    @media (max-width: 1320px) {
      padding-left: 3%;
    }

    @media (max-width: 350px) {
      padding: 10px 0;
    }
  }

  &__text {
    padding-left: 20px;
    padding-bottom: 17.3px;
  }

  &__cancel {
    padding-top: 33px;
    padding-left: 13%;

    @media (max-width: 1320px) {
      padding-left: 3%;
    }

    @media (max-width: 350px) {
      padding: 10px 0;
    }
  }

  &__form {
    padding-top: 1px;

    @media (max-width: 1240px) {
      order: 1;
      margin-bottom: 40px;
      padding-top: 20px;
    }

    @media (max-width: 360px) {
      padding-left: 6%;
    }

    @media (max-width: 328px) {
      padding-left: 3%;
    }
  }
  
  &__paragraph {
    width: 341px;
    height: 96px;
    margin-top: 18.5px;

    @include body-text;
    
    @media (max-width: 350px) {
      max-width: 300px;
      padding-bottom: 10px;
    }
  }

  &__title_lower {
    align-self: center;
    padding-top: 2.5px;
    margin-left: 10px;

    @include intermediate-text($lh: 14px);
  
    @media (max-width: 350px) {
      margin: 0;
    }
  }

  &__formlux {
    margin-left: 9px;
  }
 
  &__bullet {
    margin-top: 2px;
  }
  
  &__form-bottom {
    margin-top: 46px;
  }
}