 .pagination a {
  color: rgba(31,32,65,0.5);
  text-decoration: none;
  font-size: 0.8571rem;
  line-height: 3.3333
}
.pagination__link_active {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: -o-linear-gradient(top, #BC9CFF 0%, #8BA4F9 100%);
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
}
.pagination__link_active a {
  font-weight: bold;
  color: white
}
.pagination__link_active,.pagination .paginationjs-prev,.pagination .paginationjs-next {
  min-width: 2.8571rem
}
.pagination__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31,32,65,0.75)
}
.data-container {
  display: none
}
.pagination__icon {
  font-size: 1.7143rem;
  line-height: 1.6667;
  color: #fff
}
.paginationjs-prev,.paginationjs-next {
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: -o-linear-gradient(top, #6FCF97 0%, #66D2EA 100%);
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
}
.paginationjs-page,.paginationjs-prev,.paginationjs-next,.paginationjs-ellipsis {
  display: inline-block;
  width: 100%;
  max-width: 2.8571rem;
  height: 2.8571rem;
  border-radius: 50%;
  text-align: center
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0
}
.paginationjs-container{
  
  width: 242px;
}