
.wrapper{
  margin-left: 20px;
  margin-top: 40px;
}
.data-container{
  font-size: 0;}
  
.pagination__icon{
  color: #fff;
   font-size: 15px;
  
}
.paginationjs-pages ul {
    display: flex;
    user-select: none;
    padding: 0;
    margin: 0;
  }

.paginationjs .paginationjs-pages li {
  list-style: none

}
.paginationjs-ellipsis{
  color: rgba(31, 32, 65, 0.5);
  display: inline-block;
    width: 100%;
    max-width: 2.8571rem;
    height: 2.8571rem;
    border-radius: 50%;
    text-align: center;
}
.paginationjs .J-paginationjs-page a {
  min-width: 30px;
  height: 28px;
  line-height: 28px;
  display: block;
  background: #fff;
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
  text-align: center
}
.paginationjs .paginationjs-pages li.active>a {
  height: 30px;
  line-height: 30px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff;
  border-radius: 50%;
}
.paginationjs-pages .paginationjs-next{
background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
border-radius: 22px;
display: inline-block;
width: 22px;
height: 22px;

}
.paginationjs-pages .paginationjs-prev{
background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
border-radius: 22px;
display: block;
width: 22px;
height: 22px;

}

  
