.radio {
  display: inline-block;

  &__input {
    position: absolute;
    opacity: 0;
    margin: 10px 0 0 7px;
  
    &:checked + .radio__text:after {
      opacity: 1;
    }

    &:checked + .radio__text:before {
      border: $primary-border;
    }

    &:focus + .radio__text:before {
      border: $primary-border;
    }

    &:checked + .radio__text {
      color: $dark75;
    }
  }

  &__text {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;

    @include body-text($dark50);

    &:before {
      box-sizing: border-box;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $dark25;
      border-radius: 50%;
      background: #fff;
    }

    &:after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $primary-gradient;
      opacity: 0;
    }
  }
}
