.radio {
  display: inline-block;
  box-sizing: border-box;

  &* {
    box-sizing: border-box;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
  }

  &__input:checked + .radio__text:after {
    opacity: 1;
  }

  &__input:checked + .radio__text:before {
    border: $purple-border;
  }

  &__input:focus + .radio__text:before {
    border: $purple-border;
  }

  &__input:checked + .radio__text {
    color: $dark75;
  }

  &__text {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;

    @include body-text($dark50);
  }

  &__text:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $dark25;
    border-radius: 50%;
    background: #fff;
  }

  &__text:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $purple-gradient;
    opacity: 0;
  }
}
