.price {
  display: flex;
  justify-content: space-between;
}

.price-container {
  display: flex;

  &__title {
    margin-bottom: 2px;
    align-self: flex-end;

    @include intermediate-text($fw: bold, $col: $dark100);
  }

  &__text {
    text-indent: 3px;

    @include large-text;
  }

  &__text_low {
    margin-left: 3px;

    @include intermediate-text(
      $fw: bold,
      $fs: 20px,
      $lh: 24.4px,
      $col: $dark100
    );
  }

  &__lux {
    text-transform: uppercase;
    margin-bottom: .7px;
    align-self: flex-end;
    margin-left: 1px;

    @include small-text($col: $purple);
  }

  &__cost {
    align-self: flex-end;
    margin-bottom: 1.2px;
    margin-right: 4px;

    @include intermediate-text($fw: bold, $fs: 14px, $lh: 18px);
  }

  &__duration {
    align-self: flex-end;

    @include intermediate-text($fs: 12px, $lh: 18px);
  }
}
