mixin buttons(buttons)
  - const { titleRange, titleButton, One, Two, Tree, Four, Five, Six, Seven, titlePagination, pagination } = buttons
  .buttons
    .buttons__title
      +title(titleRange)
    .buttons__slider
      +range-slider
    .buttons__title
      +title(titleButton)
    .buttons__item
      +button(One) 
      +button(Two)
    .buttons__item
      +button(Tree)
      +button(Four)
    .buttons__item
      +button(Five) 
      +button(Six)
    .buttons__item
      +button(Seven)
    .buttons__title
      +title(titlePagination)
    +pagination(pagination)
