mixin buttons(buttons)
  - const { One, Two, Tree, Four, Five, Six, Seven,items } = buttons
  -  const { titleRange,titleButton,titlePagination,pagination } = items
  .buttons
    .buttons__title
      +title(titleRange)
    .buttons__slider
      +range-slider
    .buttons__title
      +title(titleButton)
    .buttons__item
      +button(One) 
      +button(Two)
    .buttons__item
      +button(Tree)
      +button(Four)
    .buttons__item
      +button(Five) 
      +button(Six)
    .buttons__item
      +button(Seven)
    .buttons__title
      +title(titlePagination)
    +pagination(pagination)
