mixin radio
   .radio
     input(type="radio" class="radio-button" name="radio" id="Мужчина" checked)
     label(for="Мужчина" class="radio-label") Мужчина
   .radio
     input(type="radio" class="radio-button" name="radio" id="Женщина")
     label(for="Женщина" class="radio-label") Женщина