.radio {
  display: inline-block;
  box-sizing: border-box;
}
.radio * {
  box-sizing: border-box;
}
.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio__input:checked+.radio__text:after {
  opacity: 1;

}
.radio__input:checked + .radio__text:before {
  border: 1px solid #BC9CFF;
}
.radio__input:focus+.radio__text:before {
  border: 1px solid #BC9CFF;

}
.radio__input:checked+.radio__text {

  color: rgba(31,32,65,0.75);
}

.radio__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  color: rgba(31,32,65,0.5);

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

}
.radio__text:before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31,32,65,0.25);
  border-radius: 50%;
  background: #fff;
}
.radio__text:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0;
}