.input{

background: #FFFFFF;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;

padding: 13px ;
height: 44px;
width: 100%;
outline: none;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: rgba(31, 32, 65, 0.75);
  
  &:hover{
    border: 1px solid rgba(31, 32, 65, 0.50);
    outline: none;
  }
  

&::-webkit-input-placeholder{color: rgba(31, 32, 65, 0.25);
}
&:hover::-webkit-input-placeholder{color: rgba(31, 32, 65, 0.75);
}
}

.subscription-input{
  position: relative;
  height: 44px;
  width: 267px;
  
}
// subscription-input  //


.subscription-button{
  position: absolute;
  right: 12px;
  transform: translateY(-50%);
  top: 50%;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  
}
.subscription-button:after{
  position: absolute;
  transform: translateY(-50%);
  content: 'arrow_forwards';
  font-family: 'Material Icons';
  left: 5px;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  pointer-events: none;
font-style: normal;
font-weight: normal;
background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
-webkit-background-clip: text;
 -webkit-text-fill-color: transparent;

}
 