.input {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

  padding: 11.5px 10px 12px 13.5px ;
  height: 44px;
  width: 100%;
  outline: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);

  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.50);
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: rgba(31, 32, 65, 0.25);
  }
  &:hover::-webkit-input-placeholder {
    color: rgba(31, 32, 65, 0.75);
  }
}


.input-hover {
  color: rgba(31, 32, 65, 0.75);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13.6px;
  line-height: 24px;
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.50);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 10px 10px 14px;

  &::-webkit-input-placeholder {
    color: rgba(31, 32, 65, 0.75);
  }

}



// filter input //

.container-input {
  position: relative;
}
.container-input:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  content: 'expand_more';
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.50);
  cursor: pointer;
  pointer-events: none;
}


.filter-input {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 13px 9px 14px;

  height: 44px;
  width: 100%;
  outline: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: rgba(31, 32, 65, 0.75);
  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.75);
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: rgba(31, 32, 65, 0.75);
  }
  &:hover::-webkit-input-placeholder {
    color: rgba(31, 32, 65, 0.75);
  }

}



// subscription-input  //


.subscription-input {
  position: relative;
}
.subscription-button {
  position: absolute;
  right: 14px;
  transform: translateY(-50%);
  top: 50%;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
}
.subscription-button:after {
  position: absolute;
  transform: translateY(-50%);
  content: 'arrow_forwards';
  font-family: 'Material Icons';
  left: 5px;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  pointer-events: none;
  font-style: normal;
  font-weight: normal;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}