.button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  outline: none;
  border: unset;
  border-radius: 80px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  cursor: pointer;
  text-align: center;
  user-select: none;
  text-transform: uppercase;
  white-space: nowrap;
  display: block;

  @include intermediate-text($fs: 12px, $lh: 15px, $fw: bold, $col: #fff);

  @media (max-width: 450px) {
    font-size: 10px;
    line-height: 12px;
  }

  &:active {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      linear-gradient(
        180deg,
        rgba(188, 156, 255, .5) 0%,
        rgba(139, 164, 240, .5) 100%
      );
    background-clip: content-box, border-box;
    background-origin: border-box;
  }

  &:hover {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      linear-gradient(
        180deg,
        rgba(188, 156, 255, .5) 0%,
        rgba(139, 164, 240, .5) 100%
      );
    background-clip: content-box, border-box;
    background-origin: border-box;
  }

  &_with-border {
    border: solid 1.75px transparent;
    border-radius: 80px;
    box-shadow: 2px 1000px 1px #fff inset;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: content-box, border-box;
    background-origin: border-box;
    color: $primary;
  }

  &_with-arrow {
    position: relative;
    width: 100%;
    height: 44px;

    &:after {
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
      right: 10px;
      text-transform: none;
      width: 24px;
      height: 24px;

      @include material-font(
        $lh: 24px,
        $con: 'arrow_forwards',
        $col: #fff,
        $bg: #fff
      );
    }
  }

  &_content-size {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 11.5px;
  }

  &_content-none {
    border: unset;
    background: none;

    &:hover {
      color: rgba(#bc9cff, .5);
    }
  }

  &_color-black {
    color: $dark50;
    background: none;

    &:hover {
      color: $dark25;
    }
  }

  &_disabled {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      linear-gradient(
        180deg,
        rgba(188, 156, 255, .5) 0%,
        rgba(139, 164, 240, .5) 100%
      );
    background-clip: content-box, border-box;
    background-origin: border-box;
    
  }

  &_small-size{
    height: 44px;
    width: 99px;
  }
}