.dropdown-counters {
  @include flex-between;

  &:nth-child(3) {
    padding-bottom: 5px;
  }

  &__title {
    text-transform: uppercase;
    padding-left: 13.5px;
    padding-top: 1.7px;

    @include intermediate-text($fw: bold, $col: $dark100, $fs: 12px, $lh: 15px);
  }

  &__controls {
    cursor: pointer;
    padding: 6px 6px 1.5px 2px;

    @include flex-center;
  }

  &__plus,
  &__minus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $dark25;
    box-sizing: border-box;
    outline: none;
    background-color: #fff;

    @include flex-center;

    @include intermediate-text($col: $dark75, $fs: 18px, $lh: 22px);
  }

  &__minus {
    padding-bottom: 1.5px;
  }

  &__value {
    width: 32px;
    border: unset;
    text-align: center;
    outline: none;
    padding-bottom: 3px;
    -moz-appearance: textfield;
    -webkit-appearance: none;

    @include small-text;
  }

  &__minus_disabled,
  &__plus_disabled {
    opacity: .5;
    cursor: unset;
  }
}

