.text-field {
  position: relative;

  &__label {
    text-transform: uppercase;

    @include small-text;
  }

  &__button,
  &__button_arrow {
    border: unset;
    background: none;
    cursor: pointer;
    top: 38%;
    right: 2px;
    width: 40px;
    height: 40px;
    position: absolute;

    @include material-font($bg: $primary);
  }

  &__button_arrow {
    pointer-events: none;

    @include material-font;
  }

  &__input_standard {
    margin-top: 5px;
    background: #fff;
    height: 44px;
    width: 100%;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    padding: 11.5px 10px 12px 13.5px;
    
    @media (max-width: 350px) {
      width: 80%;
    }

    @include intermediate-text($fs: 14px, $lh: 18px, $col: $dark75);

    &:hover {
      border: 1px solid $dark50;
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $dark25;
    }

    &:hover::-webkit-input-placeholder {
      color: $dark75;
    }
  }

  &__input_hover {
    margin-top: 5px;
    width: 320px;
    height: 44px;
    background: #fff;
    border: 1px solid $dark50;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 10px 10px 14px;
    
    @media (max-width: 350px) {

      width: 90%;
    }

    @include intermediate-text($fs: 13.6px, $lh: 24px, $col: $dark75);

    &::-webkit-input-placeholder {
      color: $dark75;
    }
  }

  &__input_filter {
    margin-top: 5px;
    background: #fff;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 13px 9px 14px;
    height: 44px;
    width: 100%;
    outline: none;
    
    @media (max-width: 350px) {
      width: 80%;
    }

    @include intermediate-text($fs: 14px, $lh: 18px, $col: $dark75);

    &:hover {
      border: 1px solid $dark50;
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $dark75;
    }

    &:hover::-webkit-input-placeholder {
      color: $dark75;
    }
  }
}