extends ../../layouts/rooms
include ../../blocks/form-search/form-search
include ../../blocks/title/title
include ../../blocks/button/button
include ../../blocks/calendar/calendar
include ../../blocks/dropdown/dropdown
include ../../blocks/dropdown-control/dropdown-control

block title
  title landing
  link(rel="stylesheet", href="landing.css")

block content
  -
    content = require("./landing.json");
    const {formSearch, text} = content

  .landing-container
    .landing-container__items
      .landing-container__form
        +form-search(formSearch)
      .landing-container__slogan= text

  script(src="./landing.js")
