@import '../../scss/_mixin';

.landing-container {
  background: url('./img/landing.jpg');
  height: 830px;
  min-width: 520px;

  @include foto-bg-size;

  &__items {
    padding: 4.85% 9.3% 18px 9.7%;
    display: flex;
    justify-content: space-between;
  }

  &__slogan {
    text-align: right;
    align-self: flex-end;
    max-width: 300px;
    margin-top: 691px;

    @include body-text;
  }
}
