extends ../../layouts/rooms
include ../../blocks/form-search/form-search
include ../../blocks/title/title
include ../../blocks/button/button
include ../../blocks/calendar/calendar
include ../../blocks/dropdown/dropdown
include ../../blocks/dropdown-counters/dropdown-counters

block title
  title Landing

block head
  link(rel='stylesheet', href='landing.css')

block content
  -
    content = require('./landing.json');

  .landing-container
    .landing-container__items
      +form-search(content.formSearch)
      .landing-container__slogan= content.text

block footer
block script
  script(src='./landing.js')
