extends ../../layouts/rooms
include ../../blocks/form-search/form-search
include ../../blocks/title/title
include ../../blocks/button/button
include ../../blocks/calendar/calendar
include ../../blocks/dropdown/dropdown
include ../../blocks/dropdown-counters/dropdown-counters

block title
  title Landing

block head
  link(rel='stylesheet', href='landing.css')

block content
  .landing-container
    .landing-container__items
      //+form-search
      .landing-container__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения

block footer
block script
  script(src='./landing.js')
