mixin lists(lists)
  - const { one,two,titleRich,rich,richTwo,titleBullet,bullet } = lists
  .lists
    .lists__row
      .lists__row
        +checkbox-list(one)
      .lists__row 
        +checkbox-list(two)
    .lists__row
      .lists__title
        +title(titleRich)
      +checkbox-rich(rich)
      +checkbox-rich(richTwo)
    .lists__row
      .lists__title
        +title(titleBullet)
      +bullet-list(bullet)
