mixin footer-bottom
  .footercard 
   +footer-logo
   .fotercard__text Copyright © 2018 Toxin отель. Все права зачищены.
   .fotercard__icon
    i.fab.fa-twitter.gradient-icon
    i.fab.fa-facebook-square.gradient-icon
    i.fab.fa-instagram.gradient-icon