.footercard{
  width: 768px;
  height: 367px;
  background-color: #fff;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 336px;
  box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);

}
.fa-facebook-square{
  padding-left: 20px;
  padding-right: 20px;
}
.fotercard__text{
  padding-bottom: 24px;
  padding-top: 22px;
 
}