extends ../../layouts/rooms
include ../../blocks/pie/pie
include ../../blocks/comments/comments
include ../../blocks/title/title
include ../../blocks/calendar/calendar
include ../../blocks/dropdown/dropdown
include ../../blocks/button/button
include ../../blocks/like/like
include ../../blocks/form-lux/form-lux
include ../../blocks/reviews/reviews
include ../../blocks/price/price
include ../../blocks/bullet-list/bullet-list
include ../../blocks/person-comment/person-comment
include ../../blocks/dropdown-control/dropdown-control

block title
  title room-detalis
  link(rel='stylesheet', href='room-detalis.css')
  

block content
 -
    content = require('./room-detalis.json');
 section.detalis
  .detalis-background
  .room-detalis
    .room-detalis__item
      .room-detalis__comment
        +title(content.info)
        .room-detalis__comments
          +comments(content.comments)
          +comments(content.commentsTwo)
          +comments(content.commentsThree)

      .room-detalis__pie
        +pie(content.pie)

      .room-detalis__reviews
        .room-detalis__title
          +title(content.review)
          span.room-detalis__title_lower= content.number
        .room-detalis__title_murad
          +person-comment(content.person)
        .room-detalis__patricia
          +person-comment(content.patricia)

      .room-detalis__rules
        .room-detalis__text
          +title(content.rules)
        +bullet-list(content.bullet)

      .room-detalis__cancel
        +title(content.cancel)
        .room-detalis__paragraf= content.text

    .room-detalis__form
      +formlux(content.formLux)
 script(src='./room-detalis.js')
