extends ../../layouts/rooms
include ../../components/pie/pie

block title
  title Landing

block head
    link(rel="stylesheet" href="room-detalis.css")
    
block content
 .room-detalis
  .room-detalis__items
   +pie

block footer
block script
    script(src="./room-detalis.js")