extends ../../layouts/rooms

block title
  title Landing

block head
    link(rel="stylesheet" href="room-detalis.css")
    
block content

block footer
block script
    script(src="./room-detalis.js")