body {
  width: 100%;

}
.room-detalis {
  height: 484px;
  background: url(img/3.jpg) right bottom no-repeat, url(img/1.jpg) right top no-repeat, url(img/2.jpg) left no-repeat;
}

/*@media screen and (min-width: 1420px) {
  .room-detalis {
    background-size: 31.85% 50.15%, 31.85% 50%, 68.15%;
  }
}*/
///     ****    ///

.room-detalis__content {
  width: 100%;
  max-width: 1200px;
  padding: 69px 20px 62px 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.room-detalis__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-width: 400px;
  max-width: 730px;
  padding-right: 20px;
}
.room-detalis__comment {
  width: 100%;
  max-width: 300px;
  margin-bottom: 13px;
}
.room-detalis__pie {
  //margin-right: 28px;
  //margin-bottom: 20px;
}
.room-detalis__rules {
  width: 100%;
  max-width: 260px;
}
.room-detalis__cancel {

  width: 100%;
  max-width: 349px;
  padding-right: 5px;
}

.room-detalis__form {
  width: 100%;
  min-width: 360px;
  max-width: 380px;
  margin-bottom: 50px;
}

.room-detalis__paragraf {
  margin-top: 18.5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  width: 341px;
  height: 96px;
}
.room-detalis__title_lower {
  align-self: center;
  padding-top: 2.5px;
  margin-left: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}