@import '../../scss/_mixin';

.detalis-background {
  height: 484px;
  background: url(img/3.jpg) right bottom no-repeat, url(img/1.jpg) right top no-repeat, url(img/2.jpg) left no-repeat;
}

@media screen and (min-width: 1420px) {
  .detalis-background {
    background-size: 31.85% 50.15%, 31.85% 50%, 68.15%;
  }
}
///     ****    ///
.room-detalis{
  @include container;
  padding-top: 70px;
  padding-bottom: 74px;
  display: flex;
  justify-content: space-between;

&__item {
  display: grid;
  grid-template-columns: 50% 50%;
   grid-row-gap: 12px;
  grid-column-gap: 11px;
  max-width: 700px;
}
&__reviews {
  grid-column-start:1;
  grid-column-end: 3;
}
&__pie{
  padding-top: 1.5px;
}

&__comment{
  padding-top: 2px;
}
&__title {
  @include flex-between;
  padding-bottom: 17px;
}
&__title_lower{
 margin-top: 2.5px;
 margin-right: 1px;
}
&__title_murad {
  padding-top: 2.5px;
}
&__patricia{
  padding-top: 20.5px;
}
&__rules{
  padding-top: 21px;
}
&__text{
  padding-left: 20px;
  padding-bottom: 17.3px;
}
&__cancel{
  padding-top: 20px ;
}

&__form {
  max-width: 380px;
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 1px;
}
&__formlux {
  margin-left: 10px
}
&__paragraf {
  margin-top: 18.5px;
  @include body-text;
  width: 341px;
  height: 96px;
}
&__title_lower {
  @include intermediate-text($lh:14px,);
  align-self: center;
  padding-top: 2.5px;
  margin-left: 10px;
}}