.like {
  position: relative;

  &__label {
    @include intermediate-text($fs: 10px, $col: $dark25,$lh: 10px);
  }

  &__border {
    border-radius: 100px;
    background-image: none;
    border: solid 1px $dark25;
    width: 38px;
    height: 18px;
    display: block;
  }

  &__number {
    position: absolute;
    left: 21.7px;
    top: 5px;
    display: block;
  }

  &__input {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 38px;
    height: 18px;
    margin: 1px;
    border-radius: 12px;
    background-color: #fff;
    appearance: none;
    outline: none;
  

    &::before {
      content: 'favorite_border';
      font-family: 'Material Icons';
      font-family: Material Icons;
      font-size: 10px;
      color: $dark25;
      margin-left: 5px;
      margin-right: 5px;

    }

    &:checked::before {
      content: 'favorite';
      color: $primary;
      transition: color .3s ease-in;
    }
  
    &:checked ~ .like__border {
      background-image: $primary-gradient;
      border: unset;
      width: 40px;
      height: 20px;
    }

    &:checked + .like__border {
      color: $primary;
    }
  }
}
