mixin btn-left
    button.header-button.header-button_left Войти
   
mixin btn-right
    button.header-button.header-button_right Зарегистрироваться

mixin button-cards({title} = {})
       button.button-cards.button-cards__arrow(type= "button")= title
   
mixin btn-signin
    button.header-button.header-button_left.header-button_signin Создать