.header-button{
  margin-right: 15px;
  cursor: pointer;
  width: 87px;
  height: 34px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 15px;
  text-transform: uppercase;
  
  &_right{
    text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  font-size: 12px;
  border: 0;
  color: #fff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  height: 34px;
  width: 196px;
  }
  &_left{
  border: solid 0.125rem transparent;
  border-radius: 80px;
  box-shadow: 2px 1000px 1px #fff inset;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-clip: content-box, border-box;
  background-origin: border-box;
  color: #BC9CFF;
}}

/*    button  cards  */

.button-cards {
    cursor: pointer;
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    
    &__arrow {
      position: relative;
      
     &:after {
    position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 10px;
   content: 'arrow_forward';
  text-transform: none;
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 24px;      }  }}
      
 .header-button_signin{
font-size: 12px;
line-height: 15px;
width: 99px;
height: 44px;
 }
 