.nav-list {
  display: flex;
  list-style: none;
  padding-right: 35px;

  @media (max-width: 970px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link_vakansii {
    margin-right: .5px;
  }

  &__link_about {
    margin-right: 1px;
  }

  &__text {
    margin-left: 20px;
    text-decoration: none;
    position: relative;
    text-align: center;
    cursor: pointer;

    @include intermediate-text;

    &:hover {
      @include intermediate-text(bold, $dark75);
    }
  }

  &__text_icon-first {
    margin-right: 25px;

    &:after {
      position: absolute;

      @include material-font;
    }
  }

  &__text_icon-last {
    margin-right: 10px;

    &:after {
      position: absolute;

      @include material-font;
    }
  }
}
