mixin header-nav(classList="nav-list")
  ul(class="" + classList)
    li.nav-list__text О нас
      a.nav-list__link.nav-list__link_about(href='/mock-address/change-me')

    li.nav-list__text.nav-list__text_icon-first Услуги
      a.nav-list__link(href='/mock-address/change-me')

    li.nav-list__text Вакансии
      a.nav-list__link.nav-list__link_vakansii(href='/mock-address/change-me')

    li.nav-list__text Новости
      a.nav-list__link(href='/mock-address/change-me')

    li.nav-list__text.nav-list__text_icon-last Соглашения
      a.nav-list__link(href='/mock-address/change-me')
