mixin header-nav(classList="nav-list")
  ul(class="" + classList)
    li.nav-list__text О нас
      a.nav-list__link.nav-list__link_about(href='#')
    li.nav-list__text.nav-list__text_icon-1 Услуги
      a.nav-list__link(href='#')
    li.nav-list__text Вакансии
      a.nav-list__link.nav-list__link_vakansii(href='#')
    li.nav-list__text Новости
      a.nav-list__link(href='#')
    li.nav-list__text.nav-list__text_icon-2 Соглашения
      a.nav-list__link(href='#')
