.uikit-items {
  display: flex;
  align-items: center;
}
.uikit-item {
  &:not(first-child) {margin-bottom: 20px;}

  &:nth-child(2) {margin-left: 40px;}

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 27.79px;
    color: $dark100;
    white-space: nowrap;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    color: $dark100;
    font-size: 19px;
    line-height: 28px;
  }
  &__block {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    
    &_dark100 { background-color: $dark100;}
    
    &_dark75 {background-color: $dark75;}
    
    &_dark50 {background-color: $dark50;}
    
    &_dark25 {background-color: $dark25;}
    
    &_dark5 {background-color: $dark5;}
    
    &_purple {background-color: $purple;}
    
    &_green { background-color: $green;}
    
  }}