mixin color-options
  .uikit-items
    .uikit-item
      .uikit-item__block.uikit-item__block_dark100
    .uikit-item
      .uikit-item__title Dark Shade 100%
      .uikit-item__text #1F2041

  .uikit-items
    .uikit-item
      .uikit-item__block.uikit-item__block_dark75
    .uikit-item
      .uikit-item__title Dark Shade 75%
      .uikit-item__text #1F2041

  .uikit-items
    .uikit-item
      .uikit-item__block.uikit-item__block_dark50
    .uikit-item
      .uikit-item__title Dark Shade 50%
      .uikit-item__text #1F2041

  .uikit-items
    .uikit-item
      .uikit-item__block.uikit-item__block_dark25
    .uikit-item 
      .uikit-item__title Dark Shade 25%
      .uikit-item__text #1F2041

  .uikit-items
    .uikit-item
      .uikit-item__block.uikit-item__block_dark5
    .uikit-item 
      .uikit-item__title Dark Shade 5%
      .uikit-item__text #1F2041

  .uikit-items
    .uikit-item
      .uikit-item__block.uikit-item__block_purple
    .uikit-item
      .uikit-item__title Purple
      .uikit-item__text #BC9CFF

  .uikit-items
    .uikit-item
      .uikit-item__block.uikit-item__block_green
    .uikit-item
      .uikit-item__title Green
      .uikit-item__text #6FCF97
