.footer-mobilie {
  @include flex-column-center;
  background-color: #fff;
  width: 768px;
  height: 367px;
  
&__text{
  padding-bottom: 27px;
  padding-top: 18px;
  @include intermediate-text;
  font-weight: normal;
  color: $dark75;
}
&__icons{position: relative;}

&__icons:nth-child(3){margin-left: 45.5px;}

&__icon{margin-right: 22px;}

&__icon_absolute{
  position: absolute;
  bottom: 2.3px;
  right:  87.2px;
}}