mixin footer-small
  .footer-mobilie
    .footer-mobilie__logo
     +logo
    .footer-mobilie__text Copyright © 2018 Toxin отель. Все права зачищены.
    .footer-mobilie__icons
     +font-icon('footer-mobilie__icon fab fa-facebook-square','fab fa-twitter footer-mobilie__icon_absolute')