mixin footer-small
  .footercard 
   +footer-logo
   .fotercard__text Copyright © 2018 Toxin отель. Все права зачищены.
   .fotercard__icon
    +font-icon('footer-small__icon fab fa-facebook-square gradient-icon')