mixin footer-small
  .footer-mobolie
    .footer-small__logo
     +logo
    .footer-small__text Copyright © 2018 Toxin отель. Все права зачищены.
    .footer-small__icons
     +font-icon('footer-small__icon fab fa-facebook-square','fab fa-twitter footer-small__icon_absolute')