mixin person-comment({title,text,content,png,mod,check}={})
  .person-comment
    img.person-comment__icon(
      src=`../../src/blocks/person-comment/icon/${png}.png`
    )
    .person-comment__block
      .person-comment__name= title
      .person-comment__date= text
  .person-comment
    .person-comment__like
      +like({number: mod,check: check})
    span.person-comment__text= content
