.person-comment {
  display: flex;
  align-content: center;
  box-sizing: border-box;

  &__icon {
    width: 48px;
    height: 48px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, .1);
    border-radius: 48px;
    float: left;
    margin-right: 10px;
    background-position: -22px -12px;
  }

  &__text {
    margin-top: 10px;
    padding-left: 14px;

    @include body-text;
  }

  &__date {

    @include body-text;
  }

  &__name {
    margin-top: 1.5px;

    @include body-text($fw: bold);
  }

  &__like {
    margin-top: 12px;
    padding-left: 2px;
  }
}
