mixin person-comment({title,text,content,png,mod,checked}={})

  .person-comment

    .person-comment__icon(style=`background-image: url( ${require("./images/" + png)})`)
    .person-comment__block
      .person-comment__name= title
      .person-comment__date= text
  .person-comment
    .person-comment__like
      +like({number: mod,checked: checked})
    span.person-comment__text= content
