mixin pie({items,mod,title}={})
  .canvas-container
    +title({title:title,mods:mod})
    .canvas-container__pie
      .canvas-container__pie-chart.js-pie-chart

      .canvas-container__legend
        ul.canvas-container__list
          each item in items
            li.canvas-container__item.js-canvas-container__item= item
