@keyframes render {

  0% {
    stroke-dasharray: 0 100;
  }
}

.canvas-container {
  width: 311px;
  height: 170px;

  @media (max-width: 330px) {
    width: 300px;
  }

  &__pie {
    display: flex;
    position: relative;
  }

  &__title {
    @include medium-text;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    justify-content: center;
    position: absolute;
    left: 35.5px;
    top: 56.5px;
  }

  &__number {
    @include large-text($col: $primary);
  }

  &__text {
    text-transform: uppercase;

    @include small-text($col: $primary);
  }

  &__chart {
    width: 120px;
    height: 120px;
    align-self: flex-start;
    margin-top: 21.5px;
  }

  &__legend {
    width: 146px;
    height: 96px;
    align-self: flex-end;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
  }

  &__item {
    position: relative;
    padding-left: 15px;
    margin-left: 29.5px;

    @include body-text;

    @media (max-width: 330px) {
      margin-left: 15px;
    }
  }

  &__item:hover {
    opacity: .8;
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 100px;
  }

  &__item:nth-child(1)::before {
    background: $yellow-gradient;
  }

  &__item:nth-child(2)::before {
    background: $secondary-gradient;
  }

  &__item:nth-child(3)::before {
    background: $primary-gradient;
  }

  &__item:nth-child(4)::before {
    background: $black-gradient;
  }

  &__unit {
    fill: none;
    stroke-width: 1;
    cursor: pointer;
    animation-name: render;
    animation-duration: 1.5s;
    transition-property: all;
    transition-duration: 1.5s;
  }

  &__unit:hover,
  .hovered {
    opacity: .8;
    stroke-width: 1.5;
  }

  &__unit:nth-child(2) {
    stroke-dasharray: 24 100;
  }

  &__unit:nth-child(1) {
    stroke-dasharray: 49 100;
    stroke-dashoffset: -25;
  }

  &__unit:nth-child(3) {
    stroke-dasharray: 24 100;
    stroke-dashoffset: -75;
  }
}
