.canvas-container {
  width: 311px;
  height: 170px;

  @media (max-width: 330px) {
    width: 300px;
  }

  &__pie {
    display: flex;
  }

  &__title {
    @include medium-text;
  }

  &__legend {
    width: 146px;
    height: 96px;
    align-self: flex-end;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
  }

  &__item {
    position: relative;
    padding-left: 15px;
    margin-left: 29.5px;

    @include body-text;

    @media (max-width: 330px) {
      margin-left: 15px;
    }
  
    &:hover {
      opacity: .8;
    }

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 100px;
    }

    &:nth-child(1)::before {
      background: $yellow-gradient;
    }

    &:nth-child(2)::before {
      background: $secondary-gradient;
    }

    &:nth-child(3)::before {
      background: $primary-gradient;
    }

    &:nth-child(4)::before {
      background: $black-gradient;
    }
  }

  &__svg {
    width: 120px;
    height: 120px;
    display: block;
    transform: scale(-1,1);
  }

  &__pie-chart {
    position: relative;
    display: inline-block;
    margin-top: 21.5px;
  }

  &__content {
    position: absolute;
    top: 48.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #bc9cff;
  }

  &__count {
    @include large-text($col: $primary);
  }
  
  &__text {
    text-transform: uppercase;

    @include small-text($col: $primary);
  }
}