mixin slider
  section.variable.slider
    img(class="slick__img" src="../../src/components/slick/image/1.png")
    img(class="slick__img" src="../../src/components/slick/image/2.png")
    img(class="slick__img" src="../../src/components/slick/image/3.png")
    img(class="slick__img" src="../../src/components/slick/image/4.png")