mixin slider(img,img2,img3,img4)
    .variable.slider
        img(src=`../../../src/components/slick/images/${img}.png`)
        img(src=`../../../src/components/slick/images/${img2}.png`)
        img(src=`../../../src/components/slick/images/${img3}.png`)
        img(src=`../../../src/components/slick/images/${img4}.png`)