mixin datepicker({text="ДД.ММ.ГГГГ",mods="filter js-datepicker js-datepicker-start",data}={})
  +input({mods: mods,inType: 'text',text: text,button: 'expand_more',mod:"input__button_arrow",data: data})
