mixin datepicker({text="ДД.ММ.ГГГГ",mods="small js-datepicker js-datepicker-start",data,label}={})
  +text-field({mods: mods,inType: "text", text: text,button: "expand_more",
   mod:"text-field__button_arrow", data: data,label:label})
