.js-datepicker-start,
.js-datepicker-end {
  width: 150px;
  
  @media (max-width: 350px) {
    max-width: 120px;
  }
}

.datepicker * {
  padding: 0;
  margin: 0;
}

.datepicker {
  max-width: 320px;
  min-height: 369px;
  padding: 20px 20.2px 18px 20px;
  box-sizing: border-box;

  &--pointer {
    display: none;
  }

  &--cells-months,
  &--years,
  &--cells-years {
    height: 170px;
  }

  &--cell-month {
    width: 33.33%;
    height: 25%;
  }

  &--cell-year {
    width: 25%;
    height: 33.33%;
  }

  &--cells {
    display: flex;
    flex-wrap: wrap;
  }

  &--nav {
    display: flex;
    justify-content: space-between;
    border-bottom: unset;
    min-height: 20.2px;
  }

  &--nav-action {
    width: 23.93px;
    height: 24px;
  }

  &--cell {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 32px;

    @include flex-center;
  }

  &--nav-title {
    @include medium-text($lh: 20.2px);
  }

  &--nav-title i {
    color: $dark100;
  }

  &--nav-title:hover {
    background: transparent;
  }

  &--nav-action:hover {
    background: transparent;
  }

  &--days-names {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  &--day-name {
    width: 39.58px;
    height: 40px;
    text-transform: none;
    flex: 1;
    text-align: center;

    @include small-text($col:$primary);

    @include flex-center;
  }

  &--cell-day {
    border-radius: 50%;
    width: 39.58px;
    height: 40px;

    @include intermediate-text($fs: 12px);
  }

  &--cell-day.-other-month- {
    color: $dark25;
  }

  &--cell.-current- {
    background: $secondary-gradient;
    font-weight: bold;
    color: #fff;
  }

  &--buttons {
    border-top: unset;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &--button {
    text-transform: uppercase;

    @include small-text($col: $primary);
  }

  &--icon {
    font-size: 24px;
    line-height: 20px;
    color: $primary;
  }
}

.datepicker .-range-from-,
.datepicker .-range-to- {
  position: relative;
}

.datepicker .-range-from-:before,
.datepicker .-range-to-:before {
  content: '';
  background: rgba(188, 156, 255, .25);
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.datepicker .-range-from-:before {
  width: 50%;
  right: 0;
  left: auto;
}

.datepicker .-range-to-:before {
  width: 50%;
  left: 0;
  right: auto;
}

.datepicker .-selected- {
  background: $primary-gradient;
  color: #fff;
  font-weight: bold;
  z-index: 1;
}

.datepicker .-in-range- {
  background: rgba(188, 156, 255, .25);
}

.datepicker .-in-range-.datepicker--cell-day {
  border-radius: 0px;
}
