.title {

  &_standard-size {
    text-transform: uppercase;

    @include small-text;
  }

  &_hover {
    text-transform: uppercase;

    @include small-text($dark50, normal);
  }

  &_large-size {
    @include large-text;

    @media (max-width: 450px) {
      font-size: 20px;
      line-height: 24px;
    
    }
  }

  &_medium-size {
    @include medium-text;
  }
}
