.irs{
  width: 266px;
}
.range-out{
   @include intermediate-text($col: $dark50, $fs: 12px, $lh: 15px)
  width: 53px;
  border: none;
  outline: none;
text-align: right;
position: relative;
}

.irs-handle{
width: 12px;
height: 12px;
background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
border: 2px solid #fff;
border-radius: 10px;
}
.irs-handle i{
  color: #fff;
}
.irs-bar{
background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.irs-line{
width: 266px;
background: transparent;
border: 1px solid $dark25;
}
