.irs{
  width: 266px;
}
.range-out{
  width: 53px;
  border: none;
  outline: none;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
text-align: right;
color: rgba(31, 32, 65, 0.5);
position: relative;
}

.irs-handle{
width: 12px;
height: 12px;
background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
border: 2px solid #FFFFFF;
border-radius: 10px;
}
.irs-handle i{
  color: fff;
}
.irs-bar{
background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.irs-line{
width: 266px;
background: transparent;
border: 1px solid rgba(31, 32, 65, 0.25);
}