mixin range-slider
   .range-box
    input(type="text" class="range-out" id="out" name="slider" value="")
    span.range-minus -
    input(type="text" class="range-out" id="out2" name="slider" value="")
   input(type="text" id="slider" name="slider" value="")
