.irs{
  width: 266px;
  
  &-handle i{
  color: #fff;
}
&-bar{
background: $green-gradient;
}

&-line{
width: 100%;
background: transparent;
border: 1px solid $dark25;
}
&-handle{
@include base-size(12px,12px);
background: $green-gradient;
border: 2px solid #fff;
border-radius: 10px;
}}

.range-out{
   @include intermediate-text($col: $dark50, $fs: 12px, $lh: 15px)
  width: 53px;
  border: none;
  outline: none;
text-align: right;
position: relative;
}


