extends ../../layouts/base
include ../../components/range-slider/range-slider
include ../../components/pagination/pagination
include ../../blocks/dropdown/dropdown


block title
  title color-type

block head
    link(rel="stylesheet" href="form-elements.css")
    link(href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet")


block content
   +pagination

block script
    script(src="./form-elements.js")
    
    