extends ../../layouts/base
include ../../blocks/range-slider/range-slider
include ../../blocks/pagination/pagination
include ../../blocks/dropdown/dropdown
include ../../blocks/dropdown-control/dropdown-control
include ../../blocks/person-comment/person-comment
include ../../blocks/checkbox/checkbox
include ../../blocks/checkbox-rich/checkbox-rich
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/like/like
include ../../blocks/rate/rate
include ../../blocks/text-field/text-field
include ../../blocks/title/title
include ../../blocks/button/button
include ../../blocks/calendar/calendar
include ../../blocks/comments/comments
include ../../blocks/radio/radio
include ../../blocks/toggle/toggle
include ../../blocks/bullet-list/bullet-list

block title
  title form-elements
  link(rel="stylesheet", href="form-elements.css")

block content
  -
    data = require("./form-elements.json");

    const {email,hover,pretty,focus,drop,dropdown,Imask,start,end,datepicker,arrow,titleDrop,medium,
    expanded,bedrooms,checkListOne,checkListTwo,titleCheck,checkOne,checkTwo,checkThree,radioMan,radio,
    radioWoman,titleToggle,titleLike,toggle,likeTwo,like,titleRate,rateTwo,rate,dropGuest,titleRich,
    richTwo,rich,titleRange,titleButton,buttonOne,buttonTwo,buttonTree,buttonFour,buttonFive,buttonSix,
    buttonSeven,titlePagination,pagination,dropdownThree,titleBullet,bullet,comments,commentsTwo,person} = data

  .form-elements
    .column-one
      form.column-one__form-mask
        .column-one__container
          .column-one__title
            +text-field(email)
            .column-one__title_hover
              +title(hover)
        .column-one__focus
          +text-field(pretty)
          .column-one__pretty
            +title(focus)
        .column-one__dropdown
          .column-one__dropdown-title
            +title(drop)
          +dropdown(dropdown)
        .column-one__iMask
          +text-field(Imask)
        .column-one__dabl-date.js-datepicker-container
          .column-one__datepicker
            +datepicker(start)
          .column-one__datepicker
            +datepicker(end)
        .column-one__medium.js-datepicker-container
          +datepicker(datepicker)
          .column-one__subscription
            +text-field(arrow)
          .column-one__item
            +title(titleDrop)
            +title(hover)
          .column-one__drop
            +dropdown(medium)
          .column-one__drop-medium
            +title(titleDrop)
            +title(expanded)
          .column-one__drop
            +dropdown(bedrooms)
          .column-one__checkbox
            +checkbox-list(checkListOne)
            .column-one__checkbox-list
              +checkbox-list(checkListTwo)
    .column-two
      +title(titleCheck)
      .column-two__checkbox
        +checkbox(checkOne)
        +checkbox(checkTwo)
        +checkbox(checkThree)
      .column-two__radio-title  
        +title(radio)
      .column-two__radio    
        .column-two__radio-button
          +radio(radioMan)
        .column-two__radio-button
          +radio(radioWoman)
      +title(titleToggle)
      .column-two__toggle
        .column-two__toggle-wrap
         +toggle(toggle)
        .column-two__toggle-wrap
         +toggle
      +title(titleLike)
      .column-two__like
        .column-two__like-wrap
          +like(like)
        .column-two__like-wrap
          +like(likeTwo)
      +title(titleRate)
      .column-two__rate
        .column-two__rate-wrap
          +rate-button(rate)
        .column-two__rate-wrap
          +rate-button(rateTwo)
      +title(titleDrop)
      .column-two__dropdown
        +dropdown(dropGuest)
      .column-two__rich
        +title(titleRich)
        .column-two__rich-button
          +checkbox-rich(rich)
          +checkbox-rich(richTwo)
    .column-three
      .column-three__range
        +title(titleRange)
      .column-three__range-slider
        +range-slider
      .column-three__title-btn
        +title(titleButton)
        .column-three__button-top
          .column-three__button-wrap
            +button(buttonOne) 
          .column-three__button-wrap
            +button(buttonTwo)
        .column-three__button-center
          +button(buttonTree)
          .column-three__button-small
            +button(buttonFour)
        .column-three__button-bottom
          .column-three__container
            +button(buttonFive) 
          .column-three__container
            +button(buttonSix)
        .column-three__container
          .column-three__button
            +button(buttonSeven)
        .column-three__pagination-title
          +title(titlePagination)
        .column-three__pagination
          +pagination(pagination)
        .column-three__dropdown
          +title(titleDrop)
          .column-three__drop
            +dropdown(dropdownThree)
        .column-three__bullet
          +title(titleBullet)
        .column-three__bullet-list
          +bullet-list(bullet)
  .elements-footer
    .elements-footer__comments
      +comments(comments)
      +comments(commentsTwo)
    .elements-footer__murad
      +person-comment(person)

  script(src="./form-elements.js")
