extends ../../layouts/base

block title
  title color-type

block head
    link(rel="stylesheet" href="form-elements.css")
    link(href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet")


block content
   
   

block script
    script(src="./form-elements.js")
    
    