extends ../../layouts/base
include ../../blocks/range-slider/range-slider
include ../../blocks/pagination/pagination
include ../../blocks/dropdown/dropdown
include ../../blocks/dropdown-control/dropdown-control
include ../../blocks/person-comment/person-comment
include ../../blocks/checkbox/checkbox
include ../../blocks/checkbox-rich/checkbox-rich
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/like/like
include ../../blocks/rate/rate
include ../../blocks/text-field/text-field
include ../../blocks/title/title
include ../../blocks/button/button
include ../../blocks/calendar/calendar
include ../../blocks/comments/comments
include ../../blocks/radio/radio
include ../../blocks/toggle/toggle
include ../../blocks/bullet-list/bullet-list

block title
  title color-type
  link(rel='stylesheet', href='form-elements.css')
     

block content
  -
    data = require('./form-elements.json');

  .form-elements
    .column-one
      form.column-one__form-mask
        .column-one__container
          .column-one__title
            +text-field(data.email)
            .column-one__title_hover
              +title(data.hover)
        .column-one__focus
          +text-field(data.pretty)
          .column-one__pretty
            +title(data.focus)
        .column-one__dropdown
          .column-one__dropdown-title
           +title(data.drop)
          +dropdown(data.dropdown)
        .column-one__iMask
          +text-field(data.Imask)
        .column-one__dabl-date.js-datepicker-container
          +datepicker(data.start)
          +datepicker(data.end)
        .column-one__medium.js-datepicker-container
          +datepicker(data.datepicker)
          .column-one__subscription
            +text-field(data.arrow)
          .column-one__item
            +title(data.titleDrop)
            +title(data.hover)
          .column-one__drop
           +dropdown(data.medium)
          .column-one__drop-medium
            +title(data.titleDrop)
            +title(data.expanted)
          .column-one__drop
           +dropdown(data.bedrooms)

          .column-one__checkbox
            +checkbox-list
            .column-one__checkbox-list
              +checkbox-list(data.checkboxList)
    .column-two
      +title(data.titleCheck)
      .column-two__checkbox
        +checkbox(data.checkOne)
        +checkbox(data.checkTwo)
        +checkbox(data.checkThree)
      .column-two__radio
        +title(data.radio)
      .column-two__radio-button
        +radio(data.radioMan)
        +radio(data.radioWoman)
      +title(data.titleToggle)
      .column-two__toggle
        +toggle(data.toggle)
        +toggle
      +title(data.titleLike)
      .column-two__like
        +like(data.like)
        +like(data.likeTwo)
      +title(data.titleRate)
      .column-two__rate
        +rate-button(data.rate)
        +rate-button(data.rateTwo)
      +title(data.titleDrop)
      .column-two__dropdown
        +dropdown(data.dropGuest)
      .column-two__rich
        +title(data.titleRich)
        .column-two__rich-button
          +checkbox-rich(data.rich)
          +checkbox-rich(data.richTwo)
    .column-three
      .column-three__range
        +title(data.titleRange)
        .column-three__out
          input.range-out.range-start
          input.range-out.range-end
      .column-three__range-slider
        +range-slider
      .column-three__title-btn
        +title(data.titleButton)
        .column-three__button-top
          +button(data.buttonOne) 
          +button(data.buttonTwo)
        .column-three__button-center
          +button(data.buttonTree)
          .column-three__button-small
            +button(data.buttonFour)
        .column-three__button-bottom
          .column-three__container
            +button(data.buttonFive) 
          .column-three__container
            +button(data.buttonSix)
        .column-three__container
          +button(data.buttonSeven)
        .column-three__pagination-title
          +title(data.titlePagination)
        .column-three__pagination
          +pagination(data.pagination)
        .column-three__dropdown
          +title(data.titleDrop)
          .column-three__drop
           +dropdown(data.dropdownThree)
        .column-three__bullet
          +title(data.titleBullet)
        .column-three__bullet-list
          +bullet-list(data.bullet)
  .elements-footer
      .elements-footer__comments
        +comments(data.comments)
        +comments(data.commentsTwo)
      .elements-footer__murad
       +person-comment(data.person)
 
  script(src='./form-elements.js')
