extends ../../layouts/base
include ../../blocks/range-slider/range-slider
include ../../blocks/pagination/pagination
include ../../blocks/dropdown/dropdown
include ../../blocks/dropdown-control/dropdown-control
include ../../blocks/person-comment/person-comment
include ../../blocks/checkbox/checkbox
include ../../blocks/checkbox-rich/checkbox-rich
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/like/like
include ../../blocks/rate/rate
include ../../blocks/text-field/text-field
include ../../blocks/title/title
include ../../blocks/button/button
include ../../blocks/calendar/calendar
include ../../blocks/comments/comments
include ../../blocks/radio/radio
include ../../blocks/toggle/toggle
include ../../blocks/bullet-list/bullet-list

block title
  title form-elements
  link(rel="stylesheet", href="form-elements.css")

block content
  -
    data = require("./form-elements.json");

    const { inputs,checkboxs,buttons,dropdowns,lists,comments } = data

  .form-elements
   .form-elements__row
    .form-elements__inputs
    
          - const { email,hover,pretty,focus,drop,dropdown,Imask,start,end,datepicker,arrow,mods } =  inputs

          .form-elements__column
             +text-field(email)
             +title(hover)
          .form-elements__column
             +text-field(pretty)
             +title(focus)
          .form-elements__column
             +title(drop)
             +dropdown(dropdown)
          .form-elements__column
             +text-field(Imask)
          .form-elements__column(class=mods)
             +datepicker(start)
             +datepicker(end)
          .form-elements__column(class=mods)
             +datepicker(datepicker)
          .form-elements__column
             +text-field(arrow)
           
   
    .form-elements__checkboxs
    
          - const {titleCheck,checkOne,checkTwo,checkThree, radio, radioMan,radioWoman,titleToggle, toggle, titleLike, like,likeTwo, titleRate,rate,rateTwo } = checkboxs

          .form-elements__title
             +title(titleCheck)
          .form-elements__column
             +checkbox(checkOne)
             +checkbox(checkTwo)
             +checkbox(checkThree)
          .form-elements__title
             +title(radio)
          .form-elements__column
             +radio(radioMan)
             +radio(radioWoman)
          .form-elements__title
             +title(titleToggle)
          .form-elements__column
             +toggle(toggle)
             +toggle
          .form-elements__title
             +title(titleLike)
          .form-elements__column
             +like(like)
             +like(likeTwo)
          .form-elements__title
             +title(titleRate)
          .form-elements__column
             +rate-button(rate)
             +rate-button(rateTwo)
            
    .form-elements__buttons
    
          - const { titleRange,titleButton,buttonOne,buttonTwo,buttonTree,buttonFour,buttonFive,buttonSix,buttonSeven,titlePagination,pagination } = buttons
    
          .form-elements__title
             +title(titleRange)
          .form-elements__column
             +range-slider
          .form-elements__title
             +title(titleButton)
          .form-elements__button
             +button(buttonOne) 
             +button(buttonTwo)
          .form-elements__button
             +button(buttonTree)
             +button(buttonFour)
          .form-elements__button
             +button(buttonFive) 
             +button(buttonSix)
          +button(buttonSeven)
          .form-elements__title
           +title(titlePagination)
          +pagination(pagination)
          
   .form-elements__row
    .form-elements__dropdowns
         
          - const { medium,titleDrop,expanded,bedrooms,dropGuest,dropdownThree } = dropdowns 
         
          .form-elements__column
             .form-elements__column
               +title(titleDrop)
               +title(hover)
               +dropdown(medium)
             .form-elements__column
               +title(titleDrop)
               +title(expanded)
               +dropdown(bedrooms)
          .form-elements__column
             +title(titleDrop)
             +dropdown(dropGuest)
          .form-elements__column
             +title(titleDrop)
             +dropdown(dropdownThree)     
             
   .form-elements__row.row
    .form-elements__lists
    
          - const { checkListOne, checkListTwo,titleRich,rich,richTwo,titleBullet,bullet } = lists

          .form-elements__column
            .form-elements__column
               +checkbox-list(checkListOne)
            .form-elements__column 
               +checkbox-list(checkListTwo)
          .form-elements__column
             +title(titleRich)
             +checkbox-rich(rich)
             +checkbox-rich(richTwo)
          .form-elements__column
             +title(titleBullet)
             +bullet-list(bullet)
           
   .form-elements__row
    .form-elements__comments
    
          - const { comment,commentTwo,person } = comments
    
          .form-elements__column
             +comments(comment)
             +comments(commentTwo)
          .form-elements__column
             +person-comment(person)

  script(src="./form-elements.js")
  

  