
.container-grid {
  display: grid;
  grid-template: "one two three"
  "one four four";
width: 1440px;
}


.grid-one {
  margin-top: 140px;
  margin-left: 140px;
  width: 320px;
  height: 1491px;
  grid-area: one;
}
.grid-two {
  margin-left: 126px;
  margin-top: 140px;
  grid-area: two;
  width: 320px;
  height: 1198px;
}

.grid-three {
  margin-left: 72px;
  margin-top: 140px;
  grid-area: three;
  width: 320px;
  height: 1198px;
}

.grid-four {
  grid-area: four;
  margin-left: 126px;
  margin-top: 170px;
  width: 650px;
  height: 133px;
}


.form-mask {
  height: 645px;
  width: 320px;
}
.form-item {
  display: flex;
  justify-content: space-between;
}
.form-items {
  width: 320px;
}
.form-items__title {
  margin-bottom: 4px;
}
.form-items__filter {
  margin-bottom:  40px;
  width: 266px;
}
.form-items + .form-items {
  margin-top: 20px;
}
.form-items__dabl-date {
  margin-top: 40px;
  margin-bottom: 55px;
}
//           *******       //
.section-dropdowns {
  width: 267px;
  height: 846px;
}
.section-dropdown {
  margin-bottom: 20px;
}
.section-dropdown__item {
  display: flex;
  justify-content: space-between;
}
.section-dropdown + .section-dropdown {
  margin-top: 20px;
}
.section-checkbox {
  margin-top: 150px;
}
.section-commets {
  margin-top: 90px;
}
//       *******         //
.section-center__toggle {
  display: flex;
}
.section-center__like {
  display: flex;
}
.section-center__rate {
  display: flex;
 
}
.section-center__rate>*+* {
  margin-left: 20px;
}


.center-items {
  margin-top: 40px;
}
.center-items_dropdown {
  margin-top: 170px;
}
.center-items_button {
  margin-top: 250px;
}
.section-center__toggle {
  margin-top: 10px;
}
.form-like {
  margin-left: 10px;
}
.center-items_radio {
  margin-top: 7px;
}
///        *****       ///
.range-box {
  display: flex;
  height: 25px;
}
.range-start {
  margin-top: 5px;
  margin-left: 40px;
}
.range-end {
  margin-top: 5px;
}
.section-buttons {
  display: flex;
  flex-wrap: wrap;
}
.buttons-container {
  display: flex;
  margin-top: 30px;
}
.buttons-container:first-child {
  margin-top: 0;
}
.buttons-container > *+* {
  margin-left: 15px;
}
.section-three_dropdown {
  margin-top: 220px;
}
.section-bullet {
  margin-top: 245px;
}
.calendar-dabl{
  display: flex;
}
.calendar-dabl>*+*{
  margin-left: 20px;
}
.dropdown-date>*+*{
  margin-left: 73px;
}
.dropdown-date{
  display: flex;
}