extends ../../layouts/base
include ../../components/range-slider/range-slider
include ../../components/pagination/pagination
include ../../components/dropdown/dropdown
include ../../components/checkbox/checkbox
include ../../components/like/like
include ../../components/rate/rate
include ../../components/input/input
include ../../components/title/title
include ../../components/button/button
include ../../components/calendar/calendar
include ../../components/comments/comments
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/list/list

block title
  title color-type

block head
    link(rel="stylesheet" href="form-elements.css")
    link(href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet")
    

block content
 .form-elements
  .first-column
   form.form-mask
    .form-items
     .form-item
      +title('Text Field','title form-items__title')
      +title('Default','form-item__hover-title')
     +input('Email','email')
    .form-items
     .form-item
      +title('Text Field','title form-items__title')
      +title('hover/focus','form-item__hover-title')
     +input('This is pretty awesome')
    .form-items
     +title('dropdown','title form-items__title')
     +dropdown("dropdown__list","2","1","0")
    .form-items
     +title('masked text field','title form-items__title')
     +input('ДД.ММ.ГГГГ','text', 'input mask-date')
    .form-items__dabl-date
     +datepicker-dabl
    .form-items__filter
     +title('filter date dropdown','title form-items__title')
     +datepicker-filter
    .form-items
     +title('subscription text field','title form-items__title')
     .subscription-input
      +input('Email','email','input','email')
      button.subscription-button
   .section-dropdowns
    .section-dropdown
     .section-dropdown__item
      +title('dropdown','title form-items__title')
      +title('Default','form-item__hover-title')
     +dropdown-medium
    .section-dropdown__item
     +title('dropdown','title form-items__title')
     +title('expanded','form-item__hover-title')
    +dropdown-medium('dropdown__list--visible')
    .section-checkbox
     .section-checkbox__item
      +checkbox-list
     .section-checkbox__item
      +checkbox-list("checkbox-list__icon_rotate",'checkbox-items__visible','checked')
    .section-commets
     +comments('insert_emoticon','Комфорт','Шумопоглощающие стены')
     +comments('location_city','Удобство','Окно в каждой из спален')
  .section-center
     +title('checkbox buttons')
     +checkbox-button('checked')
     .center-items
      +title('radio buttons')
      .center-items_radio
       +radio
     .center-items
      +title("toggle",'title title_bottom')
      .section-center__toggle
       +toggle("checked")
      .section-center__toggle
       +toggle
     .center-items
      +title("like button",'title title_bottom')
      .section-center__like
       +like("2")
       +like("12","checked","form-like")
     .center-items
      +title("rate button",'title title_bottom')
      .section-center__rate
       +rate-checked
       +rate
     .center-items_dropdown
      +title("dropdown")
      +dropdown("dropdown__list--visible","0","0","0")
     .center-items_button
      +title("rich checkbox button")
      +checkbox('Широкий коридор','Ширина коридорв в номере не менее 91 см.')
      +checkbox('Помощник для инвалидов','На 1 этаже вас встретит специалист и проводит до номера')
  .section-three
   .range-box
    +title('range slider')
    .range-start
     +input("text","text","range-out range-start")
    .range-end
     +input("text","text","range-out range-end")
   +range-slider
   +title('buttons')
   .section-buttons
    .box
     +button({mods: 'content-size'})  
     +button({mods: 'disable,content-size'})
    .box
     +button({mods: 'border,content-size'})
     +button({mods: 'border,disable,content-size'})
    .box
     +button({mods: 'border,content-none'})  
     +button({mods: 'border,content-none,color-black'})
    +button({text: 'ПЕРЕЙТИ К ОПЛАТЕ', mods: 'arrow'})
   +title('pagination')
   +pagination
   +title('dropdown')
   +dropdown("dropdown__list--visible","2","1","0")
   +title('bullet list')
   +bullet-list('Нельзя с питомцами')
   +bullet-list('Без вечеринок и мероприятий')
   +bullet-list('Время прибытия - после 13:00 а выезд до 12:00')
block script
    script(src="./form-elements.js")
    
    