@import '../../scss/_mixin';

.form-elements {
  @include container(9.75%, 9.73%, 0, 9.77%);

  &__row {
    display: flex;
    gap: 80px;
    margin-bottom: 140px;
  }

  &__row:nth-child(3) {
    margin-bottom: 0;
  }

  &__row:last-child {
    margin-top: 40px;
    margin-bottom: 0;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__column {
    width: 320px;
    position: relative;
  }

  &__column:nth-child(5) {
    display: flex;
    gap: 15px;
  }

  &__column:nth-child(7),
  &__column:nth-child(6) {
    width: 266px;
  }

  &__title_absolute {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__datepicker {
    width: 150px;
  }

  &__checkboxs {
    width: 320px;
  }

  &__checkboxs &__column:nth-child(4),
  &__column:nth-child(8),
  &__column:nth-child(10) {
    display: flex;
    gap: 15px;
  }

  &__checkboxs &__column:nth-child(6) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  &__checkboxs &__title:first-child {
    margin-top: 0;
  }

  &__buttons &__title:first-child {
    margin-top: 0;
  }

  &__buttons {
    width: 320px;
  }

  &__button {
    display: flex;
    height: 44px;
    width: 320px;
    gap: 20px;
    margin-top: 20px;
  }

  &__buttons &__button:nth-child(6) {
    margin-bottom: 10px;
  }

  &__buttons &__title:nth-child(3) {
    padding-top: 30px;
  }

  &__dropdowns,
  &__comments,
  &__lists {
    display: flex;
    gap: 80px;
  }

  &__dropdowns &__column:first-child {
    padding-bottom: 40px;
  }

  &__subtitle {
    margin-bottom: 6px;
  }

  &__lists &__column:first-child {
    margin-bottom: 40px;

  }

  &__list {
    margin-bottom: 20px;
  }
  
  &__comments &__column:nth-child(2) {
    width: 710px;
  }
}