extends ../../layouts/base
include ../../components/range-slider/range-slider
include ../../components/pagination/pagination
include ../../components/dropdown/dropdown
include ../../components/checkbox/checkbox
include ../../components/like/like
include ../../components/rate/rate
include ../../components/input/input
include ../../components/title/title
include ../../components/button/button
include ../../components/calendar/calendar
include ../../components/comments/comments
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/list/list

block title
  title color-type

block head
    link(rel="stylesheet" href="form-elements.css")
    

block body
 .container-grid
  .grid-one
   form.form-mask
    .form-items
     .form-item
      +title('Text Field','title form-items__title')
      +title('Default','form-item__hover-title')
     +input('Email','email')
    .form-items
     .form-item
      +title('Text Field','title form-items__title')
      +title('hover / focus','form-item__hover-title title_center')
     +input-hover('This is pretty awesome')
    .form-item__dropdown
     +title('dropdown','title form-items__title')
     +dropdown("dropdown__list","2","1","0","Сколько гостей")
    .form-items__masked
     +title('masked text field','title form-items__title')
     +input('ДД.ММ.ГГГГ','text', 'input mask-date')
    .form-items__dabl-date
     .dropdown-date
       +title('date dropdown','title form-items__title')
       +title('date dropdown','title form-items__title')
     .calendar-dabl
        +datepicker-dabl('19.08.2019')
    .form-items__filter
     +title('filter date dropdown','title form-items__title')
     +filter-input
    .form-items_subscription
     +title('subscription text field','title form-items__title')
     .subscription-input__container
      +subscription-input
   .section-dropdowns
    .section-dropdown
     .section-dropdown__item
      +title('dropdown','title form-items__title ')
      +title('Default','title_top form-item__hover-title')
     +dropdown-medium
    .section-dropdown__item
     +title('dropdown','title form-items__title')
     +title('expanded','title_top form-item__hover-title')
    +dropdown-medium('dropdown__list--visible')
    .section-checkbox
     .section-checkbox__item
      +checkbox-list
     .section-checkbox__item
      +checkbox-list("checkbox-list__icon_rotate",'checkbox-items__visible','checked')
    .section-commets
     +comments('insert_emoticon','Комфорт','Шумопоглощающие стены')
     +comments('location_city','Удобство','Окно в каждой из спален')
  .grid-two
     +title('checkbox buttons')
     .grid-two__checkbox
      +checkbox-button('checked')
     .center-items
      +title('radio buttons')
      .center-items_radio
       +radio("Мужчина",'man','check')
       +radio('Женщина','man')
     .center-items_toggle
      +title("toggle",'title title_bottom')
      .section-center__toggle
       +toggle("checked")
      .section-center__toggle
       +toggle
     .center-items__like
      +title("like button",'title')
      .section-center__like
       +like("2")
       +like("12","checked","form-like")
     .center-items__rate
      +title("rate button",'title')
      .section-center__rate
       +rate-button('form-elements-2', 2)
       +rate-button('form-elements', 1)
     .center-items_dropdown
      +title("dropdown")
      +dropdown("dropdown__list--visible","0","0","0","Сколько гостей")
     .center-items_button
      +title("rich checkbox buttons")
      .center-items_buttons
       +checkbox('Широкий коридор','Ширина коридоров в номере не менее 91 см.')
       +checkbox('Помощник для инвалидов','На 1 этаже вас встретит специалист и проводит до номера','checkbox-items__comment checkbox-items__wrap')
  .grid-three
   .range-box
    +title('range slider')
    .range-start
     +input("","","range-out range-start")
     +input("","","range-out range-end")
   .range-slider__content
    +range-slider
   .buttons__title
    +title('buttons','title')
   .section-buttons
    .buttons-container_top
      +button({mods: 'content-size,large'})  
      +button({mods: 'disable,content-size,large'})
    .buttons-container
     +button({mods: 'border,content-size,large'})
     +button({mods: 'border,disable,content-size'})
    .buttons-container_bottom
     +button({mods: 'border,content-none'})  
     +button({mods: 'border,content-none,color-black'})
    .buttons-container
     +button({text: 'Перейти к оплате', mods: 'arrow'})
    .section-three_pagination
     +title('pagination','title')
     .section-three_pagination_bottom
      +pagination
   .section-three_dropdown
   +title('dropdown')
   +dropdown("dropdown__list--visible","2","1","0","3 гостя")
   .section-bullet
    +title('bullet list')
    .section-bullet_bottom
     +bullet-list([
          'Нельзя с питомцами',
          'Без вечеринок и мероприятий',
          'Время прибытия — после 13:00, а выезд до 12:00'
        ])
  .grid-four
   +comment
block script
    script(src="./form-elements.js")
    
    