extends ../../layouts/base
include ../../blocks/range-slider/range-slider
include ../../blocks/pagination/pagination
include ../../blocks/dropdown/dropdown
include ../../blocks/dropdown-control/dropdown-control
include ../../blocks/person-comment/person-comment
include ../../blocks/checkbox/checkbox
include ../../blocks/checkbox-rich/checkbox-rich
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/like/like
include ../../blocks/rate/rate
include ../../blocks/text-field/text-field
include ../../blocks/title/title
include ../../blocks/button/button
include ../../blocks/calendar/calendar
include ../../blocks/comments/comments
include ../../blocks/radio/radio
include ../../blocks/toggle/toggle
include ../../blocks/bullet-list/bullet-list
include ../../blocks-ui/inputs/inputs
include ../../blocks-ui/checkboxes/checkboxes
include ../../blocks-ui/buttons/buttons
include ../../blocks-ui/dropdown/dropdown
include ../../blocks-ui/lists/lists
include ../../blocks-ui/comments/comments

block title
  title form-elements
  link(rel='stylesheet', href='form-elements.css')

block content
  -
    data = require("./form-elements.json");

    const { inputs,checkboxes,buttons,dropdown,lists,comments } = data

  .form-elements
    .form-elements__row
      .form-elements__inputs
        +inputs(inputs)

      .form-elements__checkboxes
        +checkboxes(checkboxes)

      .form-elements__buttons
        +buttons(buttons)

    .form-elements__row
      .form-elements__dropdown
        +dropdown-ui(dropdown)

    .form-elements__row
      .form-elements__lists
        +lists(lists)

    .form-elements__row
      +comments-ui(comments)

  script(src='./form-elements.js')
