mixin font-icon({modOne="fab fa-twitter",modTwo="fab fa-facebook-square", modThree="fab fa-instagram"})


  a(class="" + modOne target="_blank" href="https://mobile.twitter.com/")
  a(class="" + modTwo target="_blank" href="https://m.facebook.com/")
  a(class="" + modThree target="_blank" href="https://www.instagram.com/")
