mixin rate
  div.star-rating
    div.star-rating__wrap
      input(class="star-rating__input" type="checkbox")
      span.star-rating__ico
      input(class="star-rating__input" type="checkbox")
      span.star-rating__ico
      input(class="star-rating__input" checked type="checkbox")
      span.star-rating__ico
      input(class="star-rating__input" type="checkbox")
      span.star-rating__ico
      input(class="star-rating__input" type="checkbox")
      span.star-rating__ico