extends ../../layouts/rooms
include ../../blocks/form-reg/form-reg
include ../../blocks/form-sign-in/form-sign-in
include ../../blocks/button/button
include ../../blocks/title/title
include ../../blocks/radio/radio
include ../../blocks/toggle/toggle

block title
  title registration
  link(rel="stylesheet", href="registration.css")

block content
  -
    content = require("./registration.json");
    const {formSignIn,formReg} = content

  .registration-container.registration-container_reg-bg.js-registration-container
    .registration-container__signing.js-registration-container__signing
      +form-signing(formSignIn)

    .registration-container__reg.registration-container_active.js-registration-container__reg
      +form-reg(formReg)
  script(src="./registration.js")
