body {
  width: 1920px;
  margin: 0 auto;
  height: 100vh;
}
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
}
.registr{
  background: url('./img/registration.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 683px;
}
.signin{
  background: url('./img/registration2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 702px;
}
.registration-container__reg {
  padding-left: 7px;
  padding-bottom: 0;
}
.registration-container__signin, .registration-container__reg {
  display: none;
}
.active {
  display: block;
}