extends ../../layouts/rooms

block title
  title Landing

block head
    link(rel="stylesheet" href="registration.css")
    
block content

block footer
block script
    script(src="./registration.js")