extends ../../layouts/rooms
include ../../blocks/form-reg/form-reg
include ../../blocks/form-sign-in/form-sign-in
include ../../components/button/button
include ../../components/title/title
include ../../components/radio/radio
include ../../components/toggle/toggle

block title
  title Landing

block head
  link(rel='stylesheet', href='registration.css')

block content
  -
    data = require('./registration.json');

  .registration-container.registration-container_reg-bg
    .registration-container__signin
      +form-signin(data.formSignIn)
    .registration-container__reg.registration-container_active
      +form-reg('signIn,border,content-size,large')
block footer
block script
  script(src='./registration.js')
