mixin title({mods='standart',title=""}={})
  - 
    let modList = mods.split(',')
    let allMods = ''
    
    modList.forEach(function (mod) {
    allMods = allMods + ' title_' + mod.trim()
    })
    
  h3.title(class= allMods)= title