.title {

  &_standart {
    text-transform: uppercase;
    margin-bottom: 5px;

    @include small-text;
  }

  &_hover {
    text-transform: uppercase;

    @include small-text($dark50, normal);
  }

  &_large {
    @include large-text;
  }

  &_medium {
    @include medium-text;
  }
}
