.title {
  @include small-text;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.title_hover {
  @include small-text($dark50, normal);
  text-transform: uppercase;
}

.large-title {
   @include large-text;
}
.medium-title{
  @include medium-text;
}

//         ****       ///
.title-number {
  display: flex;
  justify-content: space-between;
}

.number-container {
  display: flex;
  &__title {
     @include intermediate-text($fw:bold,$col:$dark100);
    margin-bottom: 2px;
    align-self: flex-end;
  }
  &__text {
     @include large-text;
    text-indent: 3px;
  }
  
  &__text_low {
     @include intermediate-text($fw:bold,$fs:20px,$lh:24.4px,$col:$dark100);
    margin-left: 3px;
  }
  
  &__lux {
     @include small-text($col:$purple);
    text-transform: uppercase;
    margin-bottom: 0.7px;
    align-self: flex-end;
    margin-left: 1px;
  }
  
  &__price {
     @include intermediate-text($fw:bold,$fs:14px,$lh:18px);
    align-self: flex-end;
    margin-bottom: 1.2px;
    margin-right: 4px;
  }
  
  &__duration {
     @include intermediate-text($fs:12px,$lh:18px);
    align-self: flex-end;
  }
}
//          ***   ///
.reviews {
  display: flex;
  justify-content: space-between;
}

.reviews-container {
  display: flex;
  margin-top: 2px;

  &__text {
     @include intermediate-text($fs:14px,$lh:18px);
    margin-right: 3px;
  }
  
  &__number {
     @include intermediate-text($fw:bold,$fs:14px,$lh:18px);
    margin-right: 3.5px;
  }
}