extends ../../layouts/base


block title
  title index-page


block head
        link(rel="stylesheet" href="index.css")
        
block body
   .index__link
    a(href="../color-type.html").index__page color-type 
   .index__link
    a(href="../headers-footers.html").index__page headers-footers
   .index__link
    a(href="../form-elements.html").index__page form-elements
   .index__link
    a(href="../cards.html").index__page cards
   
   

block script
    script(src="./index.js")
    script(src="perfetto.js")