extends ../../layouts/base
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/footer-small/footer-small
include ../../components/button/button
include ../../components/title/title
include ../../components/dropdown/dropdown

block title
  title index-page

block head
  link(rel='stylesheet', href='index.css')

block body
  -
    data = require('./index.json');

  .index__link
    a.index__page(href='../color-type.html') color-type
  .index__link
    a.index__page(href='../headers-footers.html') headers-footers
  .index__link
    a.index__page(href='../form-elements.html') form-elements
  .index__link
    a.index__page(href='../cards.html') cards
  .index__link
    a.index__page(href='../landing.html') landing
  .index__link
    a.index__page(href='../registration.html') registration
  .index__link
    a.index__page(href='../room-detalis.html') room-detalis
  .index__link
    a.index__page(href='../room-search.html') room-search

block script
  script(src='./index.js')
  script(src='perfetto.js')
