mixin footer
 .container
  .footer-container
   .footer-wrapper
    .footer-container__logo
       .footer-logobox
        +footer-logo
       .footer-container__paragraf Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer-nav
     +link('main-nav','Навигация','О нас','Новости','Служба поддержки','Услуги')
    .footer-nav
     +link('about-nav','О нас','О сервере','Наша команда','Вакансии','Инвесторы')
    .footer-nav
     +link('support-nav','Служба поддержки','Соглашения','Сообщества','Связь с нами')
    .footer-container__subscription
     ul.input-nav 
       li.footer-nav__text 
        a.input-link Подписка 
       li.input-text_nowrap
        a.footer-container__aciya Получайте специальные предложения и новости сервиса
     .input-box
      +subscription-input
  .footer-bottom
   .footer-bottom__wrapper
    .footer-bottom__item
     .footer-bottom__text Copyright © 2018 Toxin отель. Все права зачищены.
    .footer-bottom__icon
       +font-icon