mixin footer({data})
  - const { title, main, about, support, subscription, text, label, icons } = data;

  .footer
    .footer__container
      .footer__logo
        .footer__logotype
          include ../../public/images/logo-main.svg
        .footer__paragraph= title
      .footer__navigation
        +footer-navigation(main)
      .footer__navigation
        +footer-navigation(about)
      .footer__navigation
        +footer-navigation(support)
      .footer__subscription
        a.footer__item(href="/mock-address/change-me", target="_blank") подписка
        .footer__label
          label.footer__text(for="subscription")= label
        .footer__field
          input#subscription.footer__input(type="email", placeholder="Email")
          button.footer__button arrow_forward
  .footer__bottom 
    .footer__items
      .footer__title= text
      .footer__icons
        +font-icon(icons)
