mixin footer({data})
  .footer
    .footer__container
      .footer__logo
        .footer__logotype
          include ../../images/logo-main.svg
        .footer__paragraph= data.title
      .footer__navigation
        +footer-navigation(data.main)
      .footer__navigation
        +footer-navigation(data.about)
      .footer__navigation
        +footer-navigation(data.support)
      .footer__subscription
         +footer-navigation(data.subscription)
         .footer__label
          label.footer__text(for ="subscription")= data.label
         .footer__field
          input(type="email", placeholder="Email",class="footer__input", id ="subscription")
          button.footer__button arrow_forward
  .footer__bottom 
    .footer__items
      .footer__title= data.text
      .footer__icons
        +font-icon
        
