.container{
  background-color: #fff;
box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
}
.footer-container{
  margin-top: 40px;
  margin-left: 140px;
   background-color: #fff;
   width: 1200px;
}
.footer-bottom__wrapper{
  margin-left: 140px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  
}
.footer-wrapper{
  width: 100%;
  display: grid;
 padding: 104px 20px;
 box-sizing: border-box;
 margin: 0 auto;

  
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 40px;
 /* background: LightCyan;*/
 

}

.footer-bottombox{
 /* background-color: blue;*/
}


.footer-nav{
 
   grid-column: span 2;
 /* background: GreenYellow;*/
}
.footer-container__logo {
  grid-column: span 3;
  /*background: LightGreen;*/
}
.footer-container__subscription {
  grid-column: span 3;
 /* background: Pink;*/
}

.footer-container__paragraf, .footer-container__aciya, .input-text_nowrap{
  margin-top: 20px;
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: rgba(31, 32, 65, 0.75);
}
.input-text_nowrap{
  margin-bottom: 20px;
}


.footer-bottom__text{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.75);
}

.footer-container__list:nth-last-child(-n+4){
  margin-top: 20px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.5);
}


.footer-container__list:nth-child(1), .input-link{
  
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #1F2041;
}

  .footer-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(31, 32, 65, 0.1);
   
  }
  
  .footer-bottom__text, .footer-bottom__icon{
    margin: 20px 0;
  }
  
  .font-icon_center{
    padding: 0 20px;
  }