mixin footer({data})

  - const {title,main,about,support,subscription,text,label, icons} = data

  .footer
    .footer__container
      .footer__logo
        .footer__logotype
          include ../../public/images/logo-main.svg
        .footer__paragraph= title
      .footer__navigation
        +footer-navigation(main)
      .footer__navigation
        +footer-navigation(about)
      .footer__navigation
        +footer-navigation(support)
      .footer__subscription
         +footer-navigation(subscription)
         .footer__label
          label.footer__text(for ="subscription")= label
         .footer__field
          input(type="email", placeholder="Email",class="footer__input", id ="subscription")
          button.footer__button arrow_forward
  .footer__bottom 
    .footer__items
      .footer__title= text
      .footer__icons
        +font-icon(icons)
        
