mixin datepicker-dabl(text2='ДД.ММ.ГГГГ',text='ДД.ММ.ГГГГ')
  .datepicker-box
    input(placeholder=''+text type='text' class='datepicker-dabl container-filter__input datepicker-start' data-position="bottom left")
  .datepicker-box
    input(placeholder=''+text2 class='text' class='datepicker-end container-filter__input datepicker-dabl' data-position="bottom center")

mixin datepicker

    .datepicker-dabl