mixin datepicker-dabl(text2='ДД.ММ.ГГГГ',text='ДД.ММ.ГГГГ')
  .datepicker-box
    input(placeholder=''+text type='text' class='datepicker-dabl filter-input datepicker-start')
  .datepicker-box
    input(placeholder=''+text2 class='text' class='datepicker-end filter-input datepicker-dabl')
mixin datepicker
       .datepicker-new