 .datepicker-box{
  width: 150px;
  position: relative;
}
.datepicker{
 // display: none;
  
}
.dat{
  background-color: transparent;}
.ac{
  display: block;
}
.datepicker-box:after{
  @include material-font($lh: 24px,$bg: $dark50);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
  pointer-events: none;
}

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;}
  
  
.datepicker{
  width: 320px;
  height: 369px;
  padding: 20px 20.2px 40px 20px;
  box-sizing: border-box;
}
 .datepicker--pointer {
    display: none;
  }
.datepicker--cells-months, .datepicker--years, .datepicker--cells-years{
  height: 170px;
}
.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}
.datepicker--cell-year {
  width: 100% / 4;
  height: 33.33%;
}
.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}
.datepicker--nav {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
  min-height: 20.2px;
}
.datepicker--nav-action {
  width: 23.93px;
  height: 24px;
}
.datepicker--cell{
 box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 32px;
}
 .datepicker * {
 padding: 0;
  margin: 0
}
.datepicker--nav-title {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 20.2px;
  color: #1f2041
}
.datepicker--nav-title i {
  color: #1f2041
}
.datepicker--nav-title:hover {
  background: transparent
}
.datepicker--nav-action:hover {
  background: transparent
}
.datepicker--days-names {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.datepicker--day-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #bc9cff;
  font-size: 12px;
  width: 39.58px;
  height: 40px;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}
.datepicker--cell-day {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: normal;
  border-radius: 50%;
  width: 39.58px;
  height: 40px;
  color: rgba(31,32,65,0.5)
}
.datepicker--cell-day.-other-month- {
  color: rgba(31,32,65,0.25)
}
.datepicker--cell.-current- {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  font-weight: bold;
  color: #fff,
}
.datepicker .-range-from-,.datepicker .-range-to- {
  position: relative
}
.datepicker .-range-from-:before,.datepicker .-range-to-:before {
  content: '';
  background: rgba(188,156,255,0.25);
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0
}
.datepicker .-range-from-:before {
  width: 50%;
  right: 0;
  left: auto
}
.datepicker .-range-to-:before {
  width: 50%;
  left: 0;
  right: auto
}
.datepicker .-selected- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff;
  font-weight: bold;
  z-index: 1
}
.datepicker .-in-range- {
  background: rgba(188,156,255,0.25)
}
.datepicker .-in-range-.datepicker--cell-day {
  border-radius: 0px
}
 .datepicker--buttons {
    border-top: none;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .datepicker__button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
  }
.datepicker--button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
  }
.datepicker--icon {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: #BC9CFF;
  }