extends ../layouts/base

block title
    title index-page
    link(rel='stylesheet', href='index.css')

block content

     .index__link
       a.index__page(href='./color-type.html') color-type
     .index__link
       a.index__page(href='./headers-footers.html') headers-footers
     .index__link
       a.index__page(href='./form-elements.html') form-elements
     .index__link
       a.index__page(href='./cards.html') cards
     .index__link
       a.index__page(href='./landing.html') landing
     .index__link
       a.index__page(href='./registration.html') registration
     .index__link
       a.index__page(href='./room-detalis.html') room-detalis
     .index__link
       a.index__page(href='./room-search.html') room-search

    
     script(src='./index.js')
 
