.dropdown {
  position: relative;
  width: 100%;

  &__menu {
    position: absolute;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(31, 32, 65, .5);
    display: none;
    z-index: 5;
    border-top: unset;
    border-radius: 0 0 2px 2px;
  }

  &__title {
    cursor: pointer;
    position: relative;
    padding: 11.7px 12px 11.7px 13.5px;
    border: 1px solid rgba(31, 32, 65, .25);
    border-radius: 2px;

    @include intermediate-text($col: $dark75, $lh: 18px);
  }

  &__title:hover {
    border: 1px solid rgba(31, 32, 65, .5);
    border-radius: 2px 2px 0 0;
  }

  &_active {
    display: block;
  }

  &__button {
    text-transform: uppercase;
    background: none;
    border: unset;
    outline: none;

    @include small-text($col: $purple);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button_clear {
    padding: 12.5px 0 11.5px 13px;
  }
  
  &__button_use {
    padding: 12.5px 6px 11.5px 0;
  }

  &__arrow {
    padding: 10px;
    pointer-events: none;
    border: unset;
    background: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 44px;
    width: 44px;

    @include flex-center;

    @include material-font($lh: 24px, $col: $dark75, $bg: $dark75);
  }

  &__button_hidden {
    display: none;
  }
}
