mixin form-reg({data})
  form.registration
    .reg-container
      +title(data.regAccount)
      .reg-container__input
        +text-field(data.name)
        +text-field(data.surname)
      .reg-container__radio
        +radio(data.radioMan)
        +radio(data.radioWoman)
      +text-field(data.data)
      .reg-container__data
        +title(data.title)
      .reg-container__data-in
        +text-field(data.email)
        +text-field(data.password)
      .reg-container__toggle
        +toggle
      .reg-container__btn
       +button(data.button)
      .reg-container__sign-in
        .reg-container__wrap
          .reg-container__text= data.text
        .reg-container__button
          +button(data.btnReg)
