mixin form-reg({data})

  form.registration
    .reg-container
      +title(data.regAcount)
      .reg-container__input
        +input(data.name)
        +input(data.surname)
      .reg-container__radio
        +radio(data.radioMan)
        +radio(data.radioWoman)
      +title(data.birthday)
      +input(data.data)
      .reg-container__data
        +title(data.title)
      .reg-container__data-in
        +input(data.email)
        +input(data.password)
      .reg-container__toggle
        +toggle
      +button(data.button)
      .reg-container__sign-in
        .reg-container__wrap
          .reg-container__text= data.text
        .reg-container__button
          +button(data.btnReg)
