mixin form-reg(options)
  - const {regAcount,name,surname,radioMan,radioWoman,birthday,data,title,button, password,email,text,btnReg} = options

  form.registration
    .reg-container
      +title(regAcount)
      .reg-container__input
        +input(name)
        +input(surname)
      .reg-container__radio
        +radio(radioMan)
        +radio(radioWoman)
      +title(birthday)
      +input(data)
      .reg-container__data
        +title(title)
      .reg-container__data-in
        +input(email)
        +input(password)
      .reg-container__toggle
        +toggle
      +button(button)
      .reg-container__sign-in
        .reg-container__wrap
          .reg-container__text= text
        .reg-container__button
          +button(btnReg)
