mixin form-reg({data})
  form.registration
    .registration__container
      .registration__title
       +title(data.regAccount)
      .registration__input
        +text-field(data.name)
        +text-field(data.surname)
      .registration__radio
        +radio(data.radioMan)
        +radio(data.radioWoman)
      +text-field(data.data)
      .registration__data
        +title(data.title)
      .registration__data-in
        +text-field(data.email)
        +text-field(data.password)
      .registration__toggle
        +toggle
      .registration__btn
       +button(data.button)
      .registration__sign-in
        .registration__wrap
          .registration__text= data.text
        .registration__button
          +button(data.btnReg)
