.registration {
  height: 646px;
  width: 380px;
  box-shadow: $shadow-02;
  background-color: #fff;
}

.reg-container {
  padding-top: 40px;
  padding-left: 30px;
  width: 320px;

  &__input {
    margin-top: 21px;
  }

  &__radio {
    display: flex;
    margin-bottom: 20.5px;
    margin-top: 8px;
  }

  &__toggle {
    margin-bottom: 25px;
    display: flex;
  }

  &__radio > * + * {
    margin-left: 20px;
  }

  &__data {
    margin-top: 20.5px;
  }

  &__sign-in {
    margin-top: 28.5px;

    display: flex;
    align-items: center;

    & > * + * {
      margin-left: 35.8px;
    }
  }

  &__data-in {
    margin-bottom: 9px;
  }

  &__data-in > * + *,
  &__input > * + * {
    margin-top: 10px;
  }

  &__button {
    margin-top: 1px;
  }

  &__text {
    @include intermediate-text($fs: 14px, $lh: 18px, $col: #000) white-space:
      nowrap;
  }
}
