mixin form-reg({data})

  - const {regAccount, name,surname,radioMan,radioWoman,title,email,password,button,text,btnReg,dataField} = data
  
  form.registration
    .registration__container
      .registration__title
       +title(regAccount)
      .registration__input
        +text-field(name)
        +text-field(surname)
      .registration__radio
        +radio(radioMan)
        +radio(radioWoman)
      .registration__mask
       +text-field(dataField)
      .registration__data
        +title(title)
      .registration__data-in
        +text-field(email)
        +text-field(password)
      .registration__toggle
        +toggle
      .registration__btn
       +button(button)
      .registration__sign-in
        .registration__wrap
          .registration__text= text
        .registration__button
          +button(btnReg)
