mixin checkbox-list({mods="",mod="",title="expandable checkbox list", options}={})

  .checkbox-list.js-checkbox-list
    .checkbox-list__container
      span.checkbox-list__button= title
      i.material-icons.checkbox-list__icon.js-checkbox-list__icon(class="" + mods) expand_more
    .checkbox-list__wrapper.js-checkbox-list__wrapper(class="" + mod)
      .checkbox-list__indent

        each items in options

          +checkbox(items)