mixin checkbox-list({mods="",mod="",title="expandable checkbox list"}={})
  .checkbox-list
    .checkbox-list__container
      span.checkbox-list__button= title
      i.material-icons.checkbox-list__icon(class="" + mods) expand_more
    .checkbox-list__wrapper(class="" + mod)
      .checkbox-list__indent

      +checkbox({text:'Завтрак'})
      +checkbox({text:'Письменный стол',check: "check"})
      +checkbox({text:'Стул для кормления',check: "check"})
      +checkbox({text:'Кроватка',check: "check"})
      +checkbox({text:'Телевизор'})
      +checkbox({text:'Шампунь'})
