.uikit-content {
  display: flex;
  margin-top: 52px;

  &:nth-child(1) {
    margin-top: 0;
    margin-left: 8px;
  }
  &:nth-child(2) {margin-left: 12px;}
  
  &:nth-child(3) {margin-left: 21px; }
  
  &:nth-child(4) {
    margin-top: 47px;
    margin-right: 2px;
  }
}
.uikit-content__title {
  @include large-text($dark25, normal);

  &_h1 {padding-left: 1.5px;}

  &_h2 {@include medium-text($dark25,normal);}

  &_h3 {@include small-text($dark25, normal);}

  &_body {
    @include body-text($dark25);
    margin-left: 1px;
  }
}

.uikit-content__text {
  @include large-text;
  margin-left: 29px;

  &_h1 {padding-left: 1px;}

  &_texth2 {
    padding-top: 0.8px;
    @include medium-text;
  }

  &_texth3 {
    padding-left: 1.4px;
    @include small-text;
    text-transform: uppercase;
  }

  &_textbody {
    margin-bottom: 0.8px;
    padding-left: 1px;
    @include body-text;

  }
}