mixin title-options
       div.uikit-content
        div.uikit-content__title H1
        div.uikit-content__text This one is the sub-section or widget title
       div.uikit-content
        div.uikit-content__title.uikit-content__title_h2 H2
        div.uikit-content__text.uikit-content__text_texth2 Next one is the item title inside widgets
       div.uikit-content
        div.uikit-content__title.uikit-content__title_h3 H3
        div.uikit-content__text.uikit-content__text_texth3 This is a label or CTA text
       div.uikit-content
        div.uikit-content__title.uikit-content__title_body Body
        div.uikit-content__text.uikit-content__text_textbody This is the body text which is used for most <br>of the design, like paragraphs, lists, etc.
