.logo-colorType{
  margin-left: 30px;
  margin-top: 30px;
}

.color-type{
  display: flex;
  width: 1440px;
 // justify-content: space-between;

 padding: 146px 158px 145px 150px;
}
.color-type_title{
margin-left: 416px;
width: 440px;
height: 321px;
 
}
.color-type_colors{
  
 // margin-left: 150px;
 // margin-top: 145px;
}