extends ../../layouts/base
include ../../blocks/color-options/color-options
include ../../blocks/title-options/title-options

block title
  title color-type

block head
  link(rel='stylesheet', href='color-type.css')

block body
  .color-type
    .color-type__vars
      +color-options
    .color-type__title
      +title-options

block script
  script(src='./color-type.js')
