extends ../../layouts/base
include ../../blocks-ui/color-options/color-options
include ../../blocks-ui/title-options/title-options

block title
  title color-type
  link(rel="stylesheet", href="color-type.css")

block content
  -
    data = require("./color-type.json");
    const {color, types} = data

  .color-type
    .color-type__color
      +color-options(color)
    .color-type__options
      +title-options(types)

  script(src="./color-type.js")
