mixin footer-navigation(list)

  ul.footer-navigation
    each item in list

      - const { title, className } = item;
      
        li(class=`footer-navigation__list footer-navigation__list_${className}`)
         a(class=`footer-navigation__link footer-navigation__link_${className}` href="/mock-address/change-me")= title