.footer-navigation {

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__list {

    &:hover {
      @include intermediate-text(bold, $dark75);
    }
  }

  &__list_subscription {
    margin-top: 17.5px;

    @include body-text;
  }

  &__list_one {
    text-transform: uppercase;

    @include small-text;
  }

  &__list_other,
  &__list_two {
    margin-bottom: 21px;

    @include intermediate-text;
  }

  &__list_two {
    margin-top: 21.8px;
  }
}
