.footer-navigation {

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__list:first-child {
    text-transform: uppercase;

    @include small-text;
  }

  &__list:not(first-child) {
    margin-bottom: 13%;

    @include intermediate-text;
    
    &:hover {
      @include intermediate-text(bold, $dark75);
    }
  }

  &__list:nth-child(2) {
    margin-top: 13.7%;
  }
}
