mixin footer-navigation(list)

  ul.footer-navigation
    each title in list
      
        li(class="footer-navigation__list")
          a(
            class="footer-navigation__link",
            href="/mock-address/change-me" target="_blank"
          )= title
