mixin footer-navigation(list)
  ul.footer-navigation
    each title in list
      li.footer-navigation__list
        a.footer-navigation__link(
          href="/mock-address/change-me",
          target="_blank"
        )= title
