extends ../../layouts/base
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/footer-small/footer-small
include ../../components/button/button
include ../../components/nav/nav
include ../../components/logo/logo
include ../../components/list/list
include ../../components/input/input
include ../../components/icon/icon

block title
  title color-type

block head
    link(rel="stylesheet" href="headers-footers.css")
    
block body
  .headers-footers
    .headers-footers__background
      +header

    .headers-footers__background
      +header({login: false})

    .headers-footers__background
     .headers-footers__large
      +footer

    .headers-footers__small
      +footer-small

block script
    script(src="./headers-footers.js")