extends ../../layouts/base
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/footer-small/footer-small
include ../../blocks/header-login/header-login
include ../../components/button/button
include ../../components/nav/nav
include ../../components/logo/logo
include ../../components/login/login
include ../../components/list/list
include ../../components/input/input
include ../../components/icon/icon

block title
  title color-type

block head
    link(rel="stylesheet" href="headers-footers.css")
    
block body
  .header-footer
    .header-background
     .header-top
      +header
    .container-bg
     .header-login
      +header-login
    .container-bg
     .footer-large
      +footer
    .footer-small
     +footer-small

block script
    script(src="./headers-footers.js")