body{
  background-color: #f4f4f6;
  width: 1440px;
}
.header-footer{
  width: 1440px;
  display: flex;
  flex-direction: column ;
}
.footer-large{
  background-color: #fff;
  flex-direction: column;
 box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
  
}
.container-bg, .header-background{
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
}
.header-background{
 margin-top: 140px;
 margin-bottom: 40px;
}
.header-top, .header-login, .footer-small, .footer-large{
 display: flex;
 justify-content: center;
 align-items: center;
}
.container-bg-log{
box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
height: 70px;
margin-bottom: 40px;
width: 100% ;
background-color: #fff;
}
.header-login{
  background-color: #fff;
  
}
.footer-small{
  margin-top: 40px;
}