extends ../../layouts/base
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/footer-small/footer-small
include ../../blocks/button/button
include ../../blocks/header-navigation/header-navigation
include ../../blocks/logo/logo
include ../../blocks/footer-navigation/footer-navigation
include ../../blocks/input/input
include ../../blocks/icon/icon
include ../../blocks/burger/burger

block title
  title color-type

block head
  link(rel='stylesheet', href='headers-footers.css')

block body

  -
    data = require('./headers-footers.json');
    
  .headers-footers
    .headers-footers__background
      +header(data.header)

    .headers-footers__background
      +header(data.login)

    .headers-footers__background
      .headers-footers__large
        +footer(data.footer)

    .headers-footers__small
      +footer-small(data.footerSmall)

block script
  script(src='./headers-footers.js')
