@import '../../scss/_mixin';

.headers-footers {
  @include container;
  background-color: $grey;
  padding: 9.75% 0 0 0;

  & > * + * {
    margin-top: 40px;
  }

  &__background {
    background-color: white;
    box-shadow: $shadow-5;
  }
  &__container {
    @include flex-center;
  }

  &__large {
    @include flex-column-center;
  }

  &__small {
    box-shadow: $shadow-5;
    @include flex-center;
  }
}
