@import '../../scss/_mixin';

.headers-footers {
  background-color: $grey;
  overflow: hidden;
  
  @include container(9.75%, 0, 0, 0);

  & > * + * {
    margin-top: 40px;
  }

  &__background {
    background-color: white;
    box-shadow: $shadow-5;
  }

  &__container {
    @include flex-center;
  }

  &__large {
    @include flex-column-center;
    
    @media (max-width: 767px) {

      display: none;
      flex: 0 0 auto;
    }
  }

  &__small {
    box-shadow: $shadow-5;

    @include flex-center;
  }
}