extends ../../layouts/base
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/footer-small/footer-small
include ../../blocks/button/button
include ../../blocks/header-navigation/header-navigation
include ../../blocks/logo/logo
include ../../blocks/footer-navigation/footer-navigation
include ../../blocks/text-field/text-field
include ../../blocks/icon/icon
include ../../blocks/burger/burger

block title
  title headers-footers
  link(rel='stylesheet', href='headers-footers.css')
  

block content
  -
    data = require('./headers-footers.json');

  .headers-footers
    .headers-footers__background
      +header(data.header)

    .headers-footers__background
      +header(data.login)

    .headers-footers__background
      .headers-footers__large
        +footer(data.footer)

    .headers-footers__small
      +footer-small(data.footerSmall)

  script(src='./headers-footers.js')
