extends ../../layouts/base
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/footer-small/footer-small
include ../../blocks/button/button
include ../../blocks/header-navigation/header-navigation
include ../../blocks/footer-navigation/footer-navigation
include ../../blocks/text-field/text-field
include ../../blocks/icon/icon
include ../../blocks/burger/burger

block title
  title headers-footers
  link(rel="stylesheet", href="headers-footers.css")
  

block content
  -
    data = require("./headers-footers.json");
    const {header, login, footer, footerSmall} = data

  .headers-footers
    .headers-footers__background
      +header(header)

    .headers-footers__background
      +header(login)

    .headers-footers__background
      .headers-footers__large
        +footer(footer)

    .headers-footers__small
      +footer-small(footerSmall)

  script(src="./headers-footers.js")
