mixin slider(img,img2,img3,img4)
  .variable.js-slider
    img(src=`../../../src/blocks/slick/images/${img}.png`)
    img(src=`../../../src/blocks/slick/images/${img2}.png`)
    img(src=`../../../src/blocks/slick/images/${img3}.png`)
    img(src=`../../../src/blocks/slick/images/${img4}.png`)
