mixin slider({png, png2, png3, png4}={})
  .variable.js-slider
    .images(style=`background-image: url( ${require("./images/" + png)})`)
    .images(style=`background-image: url( ${require("./images/" + png2)})`)
    .images(style=`background-image: url( ${require("./images/" + png3)})`)
    .images(style=`background-image: url( ${require("./images/" + png4)})`)
