mixin slider({png,png2,png3,png4}={})
  .variable.js-slider
    img(src=`../../../src/blocks/slick/images/${png}.png`)
    img(src=`../../../src/blocks/slick/images/${png2}.png`)
    img(src=`../../../src/blocks/slick/images/${png3}.png`)
    img(src=`../../../src/blocks/slick/images/${png4}.png`)
