mixin checkbox(text,mods="", check)
  .checkbox
    label.checkbox__label
      .checkbox__container
        input.checkbox__input(type='checkbox', checked=check)
        span.checkbox__style
      .checkbox__text(class="" + mods)= text
