.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;

}
.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
	font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: rgba(31, 32, 65, 0.75);
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 6px;
	width: 40px;
	height: 20px;
	border-radius: 10px;
	background: inherit;
  transition: .5s;
  box-shadow:  0 0 0 1.5px rgba(31, 32, 65, 0.25);
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 10px;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	background: rgba(31, 32, 65, 0.25);
	transition: .5s;
}
.checkbox:checked + label:before {
	background: inherit;
}
.checkbox:checked + label:after {
	left: 29px;
background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

}

.checkbox:checked + label:before {
	box-shadow:  0 0 0 1.5px #BC9CFF;
}

	





