mixin checkbox
    input(type="checkbox" id="checkbox").checkbox
    label(for="checkbox") Получать спецпредложения
mixin checkbox-list(mods="checkbox-wrapper")
    .checkbox-group
      .checkbox-list
        .checkbox-list__title
          button.checkbox-list__button expandable checkbox list
          i.material-icons.checkbox-list__icon expand_more
        div.checkbox-wrapper(class=''+mods)
          .checkbox-items
            input#ip1.checkbox-list__input(type='checkbox')
            label.checkbox-list__label(for='ip1') Завтрак
          .checkbox-items
            input#ip2.checkbox-list__input(type='checkbox', checked='')
            label.checkbox-list__label(for='ip2') Письменный стол
          .checkbox-items
            input#ip3.checkbox-list__input(type='checkbox', checked='')
            label.checkbox-list__label(for='ip3') Стул для кормления
          .checkbox-items
            input#ip4.checkbox-list__input(type='checkbox', checked='')
            label.checkbox-list__label(for='ip4') Кроватка
          .checkbox-items
            input#ip5.checkbox-list__input(type='checkbox')
            label.checkbox-list__label(for='ip5') Телевизор
          .checkbox-items
            input#ip6.checkbox-list__input(type='checkbox')
            label.checkbox-list__label(for='ip6') Шампунь
