.checkbox-list__button {
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;

  position: relative;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  height: 44px;
  background: transparent;
}
.checkbox-wrapper {
  background-color: #fff;
  display: none;
  overflow: hidden;
  z-index: 2;
  width: 100%;


}

.checkbox-items {
  display: flex;
  margin-top: 12px;
  width: 280px;
}
.checkbox-items:first-child {
  margin-top: 0;

}
.checkbox-items__input:checked ~ .checkbox-items__style {
  border: 0.0714rem solid #bc9cff;
}
.checkbox-items__style {
  position: absolute;
  height: 1.4286rem;
  width: 1.4286rem;
  border: 0.0714rem solid rgba(31,32,65,0.25);
  border-radius: 0.2857rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.checkbox-list__icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 18%;
  transition: transform 0.3s;
  font-size: 24px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.checkbox-list__icon_rotate {
  transform: rotate(180deg);
}
.checkbox-list {
  position: relative;
  width: 100%;

}
.checkbox-items__style:after {
  content: '';
  position: absolute;
  left: 0.1429rem;
  top: 0.2143rem;
  height: 0.4286rem;
  width: 0.5714rem;
  background: -webkit-gradient(linear, right top, left top, from(#bc9cff), to(#8ba4f9));
  background: -o-linear-gradient(right, #bc9cff 0%, #8ba4f9 100%);
  background: linear-gradient(270deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  display: none;


}
.checkbox-items__style:before {
  content: '';
  position: absolute;
  left: 0.2143rem;
  top: 0.1429rem;
  height: 0.3571rem;
  width: 0.5rem;
  background: white;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  display: none;

}
.checkbox-items__input:checked ~ .checkbox-items__style:after,.checkbox-items__input:checked ~ .checkbox-items__style:before {
  display: block;

}
.checkbox-items__input {
  position: absolute;
  height: 0;
  width: 0;
  display: none;
}
.checkbox-items__text {
  margin-left: 30px;
  margin-top: 5px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.checkbox-items__title {

  margin-left: 30px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);

}
.checkbox-items__visible {
  display: block;
}





