.checkbox-items {
  display: flex;
  margin-top: 12.3px;
  width: 280px;

  &:first-child {
    margin-top: 0;
  }
  &__input:checked ~ &__style {
    border: 1px solid $purple;
  }
  &__style {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid $dark25;
    border-radius: 4px;
    box-sizing: border-box;

    &:before {
      content: '';
      position: absolute;
      left: 5.3px;
      top: 2px;
      height: 6.5px;
      width: 6.5px;
      background: #fff;
      z-index: 2;
      transform: rotate(-45deg);
      display: none;
    }


    &:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 4.5px;
      height: 6px;
      width: 8px;
      background: $purple-gradient;
      transform: rotate(-45deg);
      display: none;
    }
  }

  &__input:checked ~ &__style:after,&__input:checked ~ &__style:before {
    display: block;
  }
  &__input {
    position: absolute;
    height: 0;
    width: 0;
    display: none;
  }
  &__text {
    @include intermediate-text($col: $dark50, $fs: 14px, $lh: 18px)
    margin-left: 29.5px;
    cursor: pointer;
  }
  &__title {
  @include intermediate-text($fw:bold,$col: $dark75, $fs: 14px, $lh: 18px)
  cursor: pointer;
  margin-left: 29.5px;
}
&__wrap {
  width: 200px;
}}

// checkbox rich 

.checkbox-rich {
  margin-top: 9.5px;
  
  &__comment {
  @include intermediate-text($col: $dark50, $fs: 12px, $lh: 14px)
  margin-left: 29px;
  cursor: pointer;
  margin-top: 7px;
  width: 200px;
}
&__wrap {
  width: 230px;
}
}

// checkbox list

.checkbox-list {
  position: relative;
  width: 100%;
  
  &__button {
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  @include small-text;
  position: relative;
  text-transform: uppercase;
  height: 44px;
  background: none;
}
  
  &__icon {
  cursor: pointer;
  position: absolute;
  right: 11px;
  top: -1.5px;
  transition: transform 0.3s;
  font-size: 24px;
  line-height: 24px;
  color: $dark75;
}
&__icon_rotate {
  transform: rotate(180deg);
}
  &__wrapper {
  background-color: #fff;
  display: none;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  margin-top: 5px;
}
&__visible {
display: block;
}}















