mixin checkbox(text,mods="", check)
    .checkbox
     label.checkbox__label
      .checkbox__container
       input(type="checkbox" class="checkbox__input" checked= check)
       span.checkbox__style
      .checkbox__text(class=""+mods)= text 