mixin form-search({data})
  form.card-search
    .card-search__wrapper
      .card-search__wrap-title
        +title(data.largeTitle)
      .card-search__calendar.js-datepicker-container
        .card-search__datepicker
         +datepicker(data.start)
        .card-search__datepicker
         +datepicker(data.end)
      .card-search__dropdown
        .card-search__title
         +title(data.guests)
        +dropdown(data.dropdown)
    .card-search__button
      +button(data.btn) 
