.card-search {
  height: 374px;
  min-width: 380px;
  box-shadow: $shadow-02;
  background-color: #fff;
  border-radius: 4px;

  &__wrapper {
    padding-left: 30px;
    padding-top: 40px;
    width: 320px;
  }

  &__wrap-title {
    width: 300px;
  }

  &__calendar {
    display: flex;
    margin-top: 20px;
  }

  &__calendar > * + * {
    margin-left: 20px;
  }

  &__dropdown {
    margin-top: 21px;
    margin-bottom: 31px;
    width: 320px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__button {
    margin-left: 28.7px;
  }
}