mixin form-search({largeTitle,arrival,departure,datepicker,guests,btn,dropdown})

  form.search
    .search-container
      .search-container__wrap-title
        +title(largeTitle)
      .search-container__title
        +title(arrival)
        +title(departure)
      .search-container__calendar.js-datepicker-container
        +datepicker
        +datepicker(datepicker)

      .search-container__dropdown
        +title(guests)
        +dropdown(dropdown)
    .search-container__button
      +button(btn)   
      
    