.card-search {
  box-shadow: $shadow-02;
  background-color: #fff;
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  box-sizing: border-box;

  @media (max-width: 330px) {
    padding: 20px 15px 15px 15px;
  }

  &__wrapper {
    max-width: 320px;

    @media (max-width: 330px) {
      padding-left: 20px;
    }
  }

  &__wrap-title {
    max-width: 300px;
  }

  &__container {
    box-sizing: border-box;
  }

  &__calendar {
    display: flex;
    margin-top: 20px;
  }

  &__dropdown {
    margin-top: 21px;
    margin-bottom: 31px;
    width: 320px;

    @media (max-width: 330px) {
      width: 94%;
    }
  }

  &__title {
    margin-bottom: 5px;
  }
  &__button {
    width: 320px;

    @media (max-width: 330px) {
      width: 90%;
      padding-left: 20px;
    }
  }


&__datepicker {
  width: 150px;

  @media (max-width: 330px) {
    width: 120px;
  }
}
&__datepicker + &__datepicker {
  margin-left: 20px;

  @media (max-width: 330px) {
    margin-left: 10px;
  }
 }
}