mixin form-search({data})

  form.search
    .search-container
      .search-container__wrap-title
        +title(data.largeTitle)
      .search-container__title
        +title(data.arrival)
        +title(data.departure)
      .search-container__calendar.js-datepicker-container
        +datepicker
        +datepicker(data.datepicker)

      .search-container__dropdown
        +title(data.guests)
        +dropdown(data.dropdown)
    .search-container__button
      +button(data.btn)   
      
    