mixin form-search
  form.search
   .search-container
      .wrap-title
       +large-title('Найдём номера под ваши пожелания')
      .search-container__title
       +title('Прибытие')
       +title('Выезд')
      .search-container__calendar
       +datepicker-dabl
      .search-container__dropdown
       +title('Гости')
       +dropdown("dropdown__list","2","1","0","Сколько гостей")
      .search-container__button
         +button({text: 'Подобрать номер', mods: 'arrow'})