mixin form-search({data})
  - const { largeTitle, start, end, title, dropdown, btn } = data

  form.card-search
    .card-search__wrapper
      .card-search__container
        +title(largeTitle)
      .card-search__calendar.js-datepicker-container
        .card-search__datepicker
          +datepicker(start)
        .card-search__datepicker
          +datepicker(end)
      .card-search__dropdown
        .card-search__title
          +title(title)
        +dropdown(dropdown)
    .card-search__button
      +button(btn) 
