.card-search {
  box-shadow: $shadow-02;
  background-color: #fff;
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  box-sizing: border-box;
  
  @media (max-width: 350px) {
    padding: 20px 15px 15px 15px;
  }

  &__wrapper {
    width: 320px;
  }

  &__wrap-title {
    max-width: 300px;
  }
  
  &__container{
     box-sizing: border-box;
  }
  
  &__calendar {
    display: flex;
    margin-top: 20px;
  }

  &__calendar > * + * {
    margin-left: 14px;
  }

  &__dropdown {
    margin-top: 21px;
    margin-bottom: 31px;
    width: 320px;
  }

  &__title {
    margin-bottom: 5px;
  }
  
}