extends ../../layouts/rooms
include ../../blocks/title/title
include ../../blocks/calendar/calendar
include ../../blocks/dropdown/dropdown
include ../../blocks/range-slider/range-slider
include ../../blocks/checkbox/checkbox
include ../../blocks/checkbox-rich/checkbox-rich
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/price/price
include ../../blocks/reviews/reviews
include ../../blocks/input/input
include ../../blocks/slick/slick
include ../../blocks/rate/rate
include ../../blocks/pagination/pagination
include ../../blocks/image-card/image-card
include ../../blocks/dropdown-counters/dropdown-counters

block title
  title Landing

block head
  link(rel='stylesheet', href='room-search.css')

block content

  -
    content = require('./room-search.json');
    
  .room-search
    .room-search__aside
      +title(content.titleDate)
      .room-search__input.js-datepicker-container
        +input(content.filter)

      .room-search__dropdown
        +title(content.guest)
        +dropdown(content.dropdown)

        .room-search__range
          +title(content.range)
          .room-search__out
            input.range-out.range-start
            input.range-out.range-end
        .room-search__range-slider
          +range-slider
        .room-search__price= content.price

        .room-search__ruls
          +title(content.rules)
        .room-search__checkbox
          +checkbox(content.checkOne)
          +checkbox(content.checkTwo)
          +checkbox(content.checkThree)

        .room-search__rich
          +title(content.titleBox)
        .room-search__rich-button
          +checkbox-rich(content.rich)
          +checkbox-rich(content.richTwo)
          
        .room-search__medium-drop
          +title(content.titleDrop)
          +dropdown(content.dropdownMedium)
        .room-search__checkbox-list
          +checkbox-list(content.checkboxList)

    .room-search__cards
      +title(content.title)
      .room-search__container
       +slider-card(content.slider)
       +slider-card(content.sliderOne)
       +slider-card(content.sliderTwo)
       +slider-card(content.sliderThree)
       +slider-card(content.sliderFour)
       +slider-card(content.sliderFive)
       +slider-card(content.sliderSix)
       +slider-card(content.sliderSeven)
       +slider-card(content.sliderEight)
       +slider-card(content.sliderNine)
       +slider-card(content.sliderTen)
       +slider-card(content.sliderEleven)
      .room-search__pagination
        +pagination
block footer
block script
  script(src='./room-search.js')
