body {
  width: 1440px;
  margin: 0 auto;
}
.room-search{
  height: 1357px;
  display: flex;
}
.room-search__aside{
  margin-left: 140px;
  margin-top: 30px;
  width: 266px;
}
.room-search__input{
  width: 266px;
}
.room-search__dropdown{
  margin-top: 20.3px;
  width: 266px;
}
.room-search__range{
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  height: 12px;
}
.room-search__out{
  align-self: center;
  margin-right: 2px;
}
.room-search__price{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: rgba(31, 32, 65, 0.5);
margin-top: 5.6px;
}
.room-search__ruls{
  margin-top: 30px;
}
.room-search__checkbox{
  padding-top: 12px;
}
.room-search__rich{
  margin-top: 32px;
}
.room-search__rich-button{
  padding-top: 1.5px;
}
.room-search__medium-drop{
  margin-top: 29.8px;
}
.room-search__checkbox-list{
 margin-top: 28.5px;
}

//    *****     ///

.room-search__cards{
  margin-left: 59.5px;
  margin-top: 30px;
  width: 836px;
}
.room-search__container{
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 11.5px;
  margin-top: 22px;
}
.room-search__lux{
  margin-left: 7px;
}
.room-search__pagination{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-right: 15px;
}