extends ../../layouts/rooms
include ../../blocks/title/title
include ../../blocks/calendar/calendar
include ../../blocks/dropdown/dropdown
include ../../blocks/range-slider/range-slider
include ../../blocks/checkbox/checkbox
include ../../blocks/checkbox-rich/checkbox-rich
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/price/price
include ../../blocks/reviews/reviews
include ../../blocks/text-field/text-field
include ../../blocks/slick/slick
include ../../blocks/rate/rate
include ../../blocks/pagination/pagination
include ../../blocks/slider-card/slider-card
include ../../blocks/dropdown-control/dropdown-control

block title
  title room-search
  link(rel="stylesheet", href="room-search.css")

block content
  -
    content = require("./room-search.json");

    const {cards,items,subtitle,checkOne,checkTwo,checkThree,titleBox,rich,richTwo,titleDrop} = content
    const {filter,dropdown,range,price,dropdownMedium,checkboxList,rules} = items
  .room-search
    .room-search__aside
      .room-search__input.js-datepicker-container
        +text-field(filter)

      .room-search__dropdown
        +title(subtitle)
        .room-search__drop
          +dropdown(dropdown)

        .room-search__range
          +title(range)
        .room-search__range-slider
          +range-slider
        .room-search__price= price

        .room-search__rule
          +title(rules)
        .room-search__checkbox
          +checkbox(checkOne)
          +checkbox(checkTwo)
          +checkbox(checkThree)

        .room-search__rich
          .room-search__rich-title
            +title(titleBox)
        .room-search__rich-button
          +checkbox-rich(rich)
          +checkbox-rich(richTwo)

        .room-search__medium-drop
          .room-search__drop-title
            +title(titleDrop)
          +dropdown(dropdownMedium)
        .room-search__checkbox-list
          +checkbox-list(checkboxList)

    .room-search__cards
      - const { title, card, One, Two, Three, Four, Five, Six, Seven, Eight, Nine, Ten, Eleven } = cards;

      .room-search__title
        +title(title)
      .room-search__container
        +slider-card(card)
        +slider-card(One)
        +slider-card(Two)
        +slider-card(Three)
        +slider-card(Four)
        +slider-card(Five)
        +slider-card(Six)
        +slider-card(Seven)
        +slider-card(Eight)
        +slider-card(Nine)
        +slider-card(Ten)
        +slider-card(Eleven)
      .room-search__pagination
        +pagination
  script(src="./room-search.js")
