@import '../../scss/_mixin';

.room-search {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  overflow: hidden;
  gap: 5.2%;
  
  @include container(1.95%, 9.7%, 5.1%, 9.7%);

  @media (max-width: 1439px) {
   gap: 3%;
    
  }
  
  @media (max-width: 1080px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media (max-width: 600px) {
    gap: 0;
  }

  &__aside {
    width: 266px;
    margin-bottom: 60px;
  }

  &__dropdown {
    margin-top: 20.3px;
  }

  &__drop {
    margin-top: 5px;
  }

  &__range {
    display: flex;
    justify-content: space-between;
    margin-top: 31.5px;
    height: 12px;
  }
  &__range-slider{
    margin-top: 22px;
  }

  &__price {
    padding-top: 23px;

    @include intermediate-text($fs: 12px, $lh: 14px);
  }

  &__rule {
    margin-top: 30px;
  }

  &__checkbox {
    padding-top: 17px;
  }

  &__rich {
    margin-top: 32px;
  }

  &__rich-title {
    margin-bottom: 5px;
  }

  &__rich-button {
    padding-top: 2px;
  }

  &__medium-drop {
    margin-top: 29.4px;
  }

  &__drop-title {
    margin-bottom: 5px;
  }

  &__checkbox-list {
    margin-top: 29.5px;
  }
}

.room-search__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 11.5px;
  margin-top: 22px;
  overflow: hidden;
  
  @media (max-width: 1439px) {
     row-gap: 40px;
    justify-content: center;
  }
}

.room-search__pagination {
  margin-top: 40px;
  margin-right: 15px;

  @include flex-column-center;
}

.room-search__lux {
  margin-left: 7px;
}

.room-search__title {
  margin-top: 2px;
  
  @media (max-width: 1439px) {

    text-align: center;
  }
}