extends ../../layouts/rooms
include ../../blocks/title/title
include ../../blocks/calendar/calendar
include ../../blocks/dropdown/dropdown
include ../../blocks/range-slider/range-slider
include ../../blocks/checkbox/checkbox
include ../../blocks/checkbox-rich/checkbox-rich
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/price/price
include ../../blocks/reviews/reviews
include ../../blocks/text-field/text-field
include ../../blocks/slick/slick
include ../../blocks/rate/rate
include ../../blocks/pagination/pagination
include ../../blocks/slider-card/slider-card
include ../../blocks/dropdown-control/dropdown-control

block title
  title room-search
  link(rel="stylesheet", href="room-search.css")

block content
  -
    content = require("./room-search.json");
    
    const {cards,filter,subtitle,dropdown,range,price,rules,checkOne,checkTwo,checkThree,titleBox,rich,richTwo,titleDrop,dropdownMedium,checkboxList,slider} = content

  .room-search
    .room-search__aside
      .room-search__input.js-datepicker-container
        +text-field(filter)

      .room-search__dropdown
        +title(subtitle)
        .room-search__drop
          +dropdown(dropdown)

        .room-search__range
          +title(range)
        .room-search__range-slider
          +range-slider
        .room-search__price= price

        .room-search__rule
          +title(content.rules)
        .room-search__checkbox
          +checkbox(checkOne)
          +checkbox(checkTwo)
          +checkbox(checkThree)

        .room-search__rich
          .room-search__rich-title
            +title(titleBox)
        .room-search__rich-button
          +checkbox-rich(rich)
          +checkbox-rich(richTwo)

        .room-search__medium-drop
          .room-search__drop-title
            +title(titleDrop)
          +dropdown(dropdownMedium)
        .room-search__checkbox-list
          +checkbox-list(checkboxList)

    .room-search__cards
      
      - const { title,sliderOne,sliderTwo,sliderThree,sliderFour,sliderFive,sliderSix,sliderSeven,sliderEight,sliderNine,sliderTen,sliderEleven } = cards
    
      .room-search__title
        +title(title)
      .room-search__container
        +slider-card(slider)
        +slider-card(sliderOne)
        +slider-card(sliderTwo)
        +slider-card(sliderThree)
        +slider-card(sliderFour)
        +slider-card(sliderFive)
        +slider-card(sliderSix)
        +slider-card(sliderSeven)
        +slider-card(sliderEight)
        +slider-card(sliderNine)
        +slider-card(sliderTen)
        +slider-card(sliderEleven)
      .room-search__pagination
        +pagination
  script(src="./room-search.js")
