mixin comments(title,titleText,contentText,mod="material-icons")
  .comments-item
   i(class=""+mod).comments-item__icon= title
   .comments-item__content
    .comments-item__title= titleText
    .comments-item__text= contentText

mixin comment
   .comment-body
    .comment-block
     img(class='comment-block__icon' src='../../src/components/comments/icon/comments-icon.png')
     .comments-block
      .comment-block__name Мурад Сарафанов
      .comment-block__date 5 дней назад
    .comment-block
     .comment-block__like
      +like(" 12","checked","form-like")
     span.comment-block__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.