mixin comments(title,titleText,contentText,mod="material-icons")
  .comments-item
   i(class=""+mod).comments-item__icon= title
   .comments-item__content
    .comments-item__title= titleText
    .comments-item__text= contentText