.comments-item__icon{
font-family: Material Icons;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 41px;
background: $purple-gradient;
-webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.comments-item{
  display: flex;
  align-items: center;
border-bottom: $border-01; 
padding-bottom: 19.5px;
padding-top: 20.5px;
width: 280px;
}
.comments-item__title{
  @include intermediate-text($fs:14px,$fw:bold,$lh:24px,$col:$dark75);
}
.comments-item__text{
    @include intermediate-text($fs:14px,$lh:24px,$col:$dark75);
}
.comments-item__content{
  padding-left: 10px;
}
     //     comment     //
.comment-block__icon{
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, .1);
  border-radius: 48px;
  margin-top: 2px;
  
}
.comment-block{
  display: flex;
 align-content: center;
 box-sizing: border-box;
}
.comment-block__text{
    @include intermediate-text($fs:14px,$lh:24px,$col:$dark75);
margin-top: 10px;
padding-left: 14px;
}
.comment-block__date{
    @include intermediate-text($fs:14px,$lh:24px,$col:$dark75);
margin-left: 9px;
}
.comment-block__name{
    @include intermediate-text($fs:14px,$fw:bold,$lh:24px,$col:$dark75);
 margin-left: 9px;
 margin-top: 1.5px;

}
.comment-block__like{
 margin-top: 12px;
 padding-left: 2px;
}