@keyframes render {
  0% {
    stroke-dasharray: 0 100;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
.canvas-container{
  width: 311px;
  height: 170px;
 
}
.canvas-container__pie {
 display: flex;
  position: relative;
  
  
}
.legend {
  width: 146px;
  height: 96px;
  align-self: flex-end;
  
  
}
.canvas-container__title {  
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 23px;
color: #1F2041;
}
.caption-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}
.caption-item {
  position: relative;
  padding-left: 15px;
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: rgba(31, 32, 65, 0.75);
margin-left: 29.5px;
}
.caption-item:hover {
  opacity: 0.8;
}
.caption-item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 100px;
}
.caption-item:nth-child(1)::before {
  background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}
.caption-item:nth-child(2)::before {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.caption-item:nth-child(3)::before {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.caption-item:nth-child(4)::before {
  background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
}
.chart {
  width: 120px;
  height: 120px;
  align-self: flex-start;
  margin-top: 21.5px;

}
.unit {
  fill: none;
  stroke-width: 1;
  cursor: pointer;
  animation-name: render;
  animation-duration: 1.5s;
  transition-property: all; 
  transition-duration: 1.5s;
}
.unit:hover,
.hovered {
  opacity: 0.8;
  stroke-width: 1.5;
}
.unit:nth-child(2) {
  // зеленый
  stroke-dasharray: 24 100;
}
.unit:nth-child(1) {
  // оранживый
  stroke-dasharray: 49 100;
  stroke-dashoffset: -25;
  
}
.unit:nth-child(3) {
  // фиолетовый
  stroke-dasharray: 24 100;
  stroke-dashoffset: -75;
}
.canvas-container__items{
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  justify-content: center;
  position: absolute;
  left: 35.5px;
  top: 56.5px;
}
.canvas-container__number{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #BC9CFF;
}
.canvas-container__text{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #BC9CFF;
}






