mixin pie(items)
  .canvas-container
   +medium-title('Впечатления от номера')
   .canvas-container__pie
    .canvas-container__items
     .canvas-container__number 260
     .canvas-container__text голосов

    svg(class="canvas-container__chart" viewBox="0 0 32.3 33.3")
     circle(class="canvas-container__unit" stroke="url(#paint5_linear)"  r="15.9" cx="50%" cy="50%")
     circle(class="canvas-container__unit" stroke="url(#paint4_linear)"  r="15.9" cx="50%" cy="50%")
     circle(class="canvas-container__unit" stroke="url(#paint3_linear)"  r="15.9" cx="50%" cy="50%")
     defs
      linearGradient(id='paint5_linear' x1='.5' x2='.5' y2='1')
         stop(stop-color='#ffe39c')
         stop(offset='1' stop-color='#ffba9c')
      linearGradient(id="paint4_linear" x1="100%" y1="0%" x2="0%" y2="0%")
       stop(offset="0" stop-color="#6FCF97")
       stop(offset="100%" stop-color="#66D2EA")
      linearGradient(id="paint3_linear" x1="0%" y1="0%" x2="0%" y2="100%")
       stop(offset="0" stop-color="#BC9CFF")
       stop(offset="100%" stop-color="#8BA4F9")
    .canvas-container__legend
     ul.canvas-container__list
       each item in items
         li.canvas-container__item= item