.title-options {

  &__container {
    display: flex;
    margin-top: 52px;

    &:nth-child(1) {
      margin-top: 0;
      margin-left: 8px;
    }

    &:nth-child(2) {
      margin-left: 12px;
    }

    &:nth-child(3) {
      margin-left: 21px;
    }

    &:nth-child(4) {
      margin-top: 47px;
      margin-right: 2px;
    }
  }

  &__title {
    @include large-text($dark25, $fw: normal);

    &_size-large {
      padding-left: 1.5px;
    }

    &_size-medium {
      @include medium-text($col: $dark25, $fw: normal);
    }

    &_size-small {
      @include small-text($col: $dark25, $fw: normal);
    }

    &_size-normal {
      margin-left: 1px;

      @include body-text($dark25);
    }
  }

  &__text {
    margin-left: 29px;

    @include large-text;

    &_size-large {
      padding-left: 1px;
    }

    &_size-medium {
      padding-top: .8px;

      @include medium-text;
    }

    &_size-small {
      padding-left: 1.4px;
      text-transform: uppercase;

      @include small-text;
    }

    &_size-normal {
      margin-bottom: .8px;
      padding-left: 1px;
      width: 310px;

      @include body-text;
    }
  }
}
