.card-lux {
  min-width: 320px;
  box-shadow: $shadow-02;
  background-color: #fff;
  border-radius: 4px;
  padding: 40px 20px 30px 30px;
  
  @media (max-width: 350px) {
    padding: 20px 10px 15px 15px;
  }

  &__container {
    width: 320px;
  }

  &__calendar {
    display: flex;
    margin-bottom: 20px;
    margin-top: 19px;
  }

  &__calendar > * + * {
    margin-left: 20px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__wrapper {
    margin-top: 18px;
  }

  &__price + &__price {
    padding-top: 9.5px;
  }

  &__label_top {
    margin-left: 5px;
  }

  &__text {
    @include body-text;
  }

  &__text_left {
    margin-left: 1px;
    margin-top: .5px;
  }

  &__text_wrap {
    width: 200px;
    line-height: 18px;
    margin-top: 3.5px;
    margin-left: 1px;
  }

  &__label {
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 100px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin-right: 60px;
    padding-top: 3.5px;
    margin-top: 2px;

    @include intermediate-text($fw: bold, $col: $dark25, $fs: 10px, $lh: 11px);
  }

  &__label_icon-right {
    margin-right: 22.5px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    margin-top: 30px;
  }

  &__sum {
    margin-left: 1px;
    white-space: nowrap;

    @include medium-text;
  }

  &__border {
    margin: 0 3px 3.7px 4.5px;
    width: 183px;
    border-bottom: 1px dotted rgba(0, 0, 0, .12);
  }

  &__wrap {
    display: flex;
  }

  &__button {
    margin-top: 21px;
  }
}