mixin formlux(classlux,number="888",price="9 900₽",lux="люкс")
  .formlux-box
   .lux-container
    +title-number(number,price,lux,className,classlux)
    .lux-container__title
      +title('Прибытие')
      +title('Выезд')
    .lux-container__calendar
     +datepicker-dabl('23.08.2019','19.08.2019')
    +title('гости')
    +dropdown("dropdown__list","2","1","0","3 гостя")
    .formlux-main 
       .formlux-main__price
        span.formlux-main__text.formlux-main__text_left 9 990₽ х 4 суток
        span.formlux-main__text 39 960₽
       .formlux-main__price
        span.formlux-main__text.formlux-main__text_left Сбор за услуги: скидка 2 179₽
        span.formlux-main__label.formlux-main__label_top i
        span.formlux-main__text 0₽
       .formlux-main__price.bottom
        .formlux-main__text.formlux-main__text_wrap Сбор за дополнительные услуги
        span.formlux-main__label.formlux-main__label_number-right i
        .formlux-main__text 300₽
   .formlux-footer
       .formlux-footer__price
         .formlux-footer__text Итого
         .formlux-footer__border
         .formlux-footer__text 38 081₽
   .lux-container__button
    +button({text: 'Забронировать', mods: 'arrow '})