.formlux-box {
  width: 380px;
  height: 511px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.lux-container {
  width: 320px;
  padding-top: 40px;
  padding-left: 30px;

  &__title {
    display: flex;
    margin-top: 21.4px;
    &>*+* {
      margin-left: 95px;
    }
  }
  &__calendar {
    display: flex;
    margin-bottom: 20px;
    &>*+* {
      margin-left: 20px;
    }
  }
  &__button {
    margin-left: 28.6px;
    margin-top: 21px;
  }
}
.formlux-main__price + .formlux-main__price {
  padding-top: 9.5px;
}
.formlux-main {
  margin-top: 18px;
  &__text {

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    font-family: Montserrat;
  }
  &__text_left{
    margin-left: 1px;
    margin-top: 0.5px;
  }
  &__text_wrap {
    width: 200px;
    line-height: 18px;
    margin-top: 3.5px;
    margin-left: 1px;

  }


  &__label {
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-style: normal;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 10px;
    line-height: 11px;
    color: rgba(31, 32, 65, 0.25);
    border-radius: 100px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin-right: 60px;
    padding-top: 3.5px;
    margin-top: 2px;
    &_number-right {
      margin-right: 22.5px;

    }

  }
  &__price {
    display: flex;
    justify-content: space-between;
  }}
.formlux-footer {
  margin-top: 30px;
  margin-left: 30px;
  &__text {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
    font-family: Montserrat;
    margin-left: 1px;
  }
  &__border {
    margin-right: 3px;
    margin-left: 4.5px;
    margin-bottom: 3.7px;
    width: 183px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.12);
  }
  &__price {
    display: flex;
  }}
.formlux-main__label_top {
  margin-left: 5px ;

}