 .person{
white-space: nowrap;
/*width: 100px;
height: 18px;*/
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.5);
border-width: 1px ;
padding: 8px 0 8px 20px;
border-left: rgba(31, 32, 65, 0.1) 1px solid;
}