mixin toggle(mod)
  .toggle-container
    label.toggle-container__label
      input.toggle-container__input(type="checkbox" checked=mod)
      span.toggle-container__border
      span.toggle-container__text Получать спецпредложения