/*.footer-nav__link{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.5);
list-style: none;
text-decoration: none;

&:nth-child(1){
  font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #1F2041;
padding-bottom: 21px;
}
}
*/