.burger {
  position: relative;
  display: none;
  margin-top: 25px;

  @media (max-width: 970px) {
    display: block;
  }

  &__item {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  &__items {
    width: 30px;
    height: 3px;
    background-color: $primary;
    transition: .5s;
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background: $primary;
      transition: .5s;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }
  
  &__item.burger__item_active  &__items {
    background: #fff;
  }

  &__item.burger__item_active &__items::before {
    top: 0;
    transform: rotate(45deg);
  }

  &__item.burger__item_active &__items::after {
    top: 0;
    transform: rotate(135deg);
  }

  &_open-menu {
    display: block;
  }
}