mixin image-card(number,reviews,price,mods,img1,img2,img3,img4,name,check,className)
  .slider-cards
    +slider(img1,img2,img3,img4)
    .slider-cards__reviews
     .slider-cards__title
      +title-number(number,price,mods,className)
     .slider-cards__rate
      +reviews(reviews,name,check)