@import './_mixin';

@import './_vars';

html {
  font-family: Montserrat, Arial, sans-serif;
  color: $dark75;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  height: 100%;
}

// reset

@import './reset.scss';

// fonts

@import './fonts.scss';

// icons fonts

@import '~material-design-icons/iconfont/material-icons.css';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import '~@fortawesome/fontawesome-free/scss/brands.scss'; // fab prefix

// layouts style

@import '../layouts/rooms.scss';

// blocks style

@import '../blocks/color-options/color-options.scss';

@import '../blocks/title-options/title-options.scss';

@import '../blocks/footer/footer.scss';

@import '../blocks/header/header.scss';

@import '../blocks/footer-small/footer-small.scss';

@import '../blocks/form-reg/form-reg.scss';

@import '../blocks/image-card/image-card.scss';

@import '../blocks/form-lux/form-lux.scss';

@import '../blocks/form-search/form-search.scss';

@import '../blocks/form-sign-in/form-sign-in.scss';

// components style

@import '../components/header-navigation/header-navigation.scss';

@import '../components/person-comment/person-comment.scss';

@import '../components/price/price.scss';

@import '../components/reviews/reviews.scss';

@import '../components/range-slider/range-slider.scss';

@import '../components/button/button.scss';

@import '../components/bullet-list/bullet-list.scss';

@import '../components/logo/logo.scss';

@import '../components/checkbox/checkbox.scss';

@import '../components/checkbox-rich/checkbox-rich.scss';

@import '../components/checkbox-list/checkbox-list.scss';

@import '../components/pagination/pagination.scss';

@import '../components/like/like.scss';

@import '../components/rate/rate.scss';

@import '../components/dropdown/dropdown.scss';

@import '../components/dropdown-counters/dropdown-counters.scss';

@import '../components/input/input.scss';

@import '../components/title/title.scss';

@import '../components/calendar/calendar.scss';

@import '../components/comments/comments.scss';

@import '../components/radio/radio.scss';

@import '../components/toggle/toggle.scss';

@import '../components/slick/slick.scss';

@import '../components/icon/icon.scss';

@import '../components/pie/pie.scss';

@import '../components/footer-navigation/footer-navigation.scss';

@import '../pixel.scss';
