$dark100: #1f2041;
$dark75: rgba(#1F2041,.75);
$dark50: rgba(#1F2041,.50);
$dark25: rgba(#1F2041,.25);
$dark5: rgba(#1F2041,.05);
$purple: #bc9cff;
$green: #6fcf97;



body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $dark75;
}

