$dark100: #1f2041;
$dark75: rgba(#1F2041,.75);
$dark50: rgba(#1F2041,.50);
$dark25: rgba(#1F2041,.25);
$dark5: rgba(#1F2041,.05);
$purple: #bc9cff;
$green: #6fcf97;



body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $dark75;
  font-style: normal;
}

// function px to rem

@function rem($size) {
  @return $size / 14px * 1rem;
}


// fonts 

@import './fonts.scss';

// blocks style

@import '../blocks/color-options/color-options.scss';
@import '../blocks/title-options/title-options.scss';
@import '../blocks/footer/footer.scss';
@import '../blocks/header/header.scss';
@import '../blocks/footercard/footercard.scss';
@import '../blocks/headerlogin/headerlogin.scss';
@import '../blocks/dropdown/dropdown.scss';

// components style

@import '../components/nav/nav.scss';
@import '../components/range-slider/range-slider.scss';
@import '../components/login/login.scss';
@import '../components/button/button.scss';
@import '../components/list/list.scss';
@import '../components/footernav/footernav.scss';
@import '../components/logo/logo.scss';
@import '../components/checkbox/checkbox.scss';
@import '../components/pagination/pagination.scss';
@import '../components/like/like.scss';