extends ../../layouts/base
include ../../blocks/form-search/form-search
include ../../blocks/form-lux/form-lux
include ../../blocks/form-sign-in/form-sign-in
include ../../blocks/form-reg/form-reg
include ../../blocks/image-card/image-card
include ../../blocks/button/button
include ../../blocks/checkbox/checkbox
include ../../blocks/radio/radio
include ../../blocks/logo/logo
include ../../blocks/slick/slick
include ../../blocks/calendar/calendar
include ../../blocks/title/title
include ../../blocks/input/input
include ../../blocks/dropdown/dropdown
include ../../blocks/toggle/toggle
include ../../blocks/rate/rate
include ../../blocks/reviews/reviews
include ../../blocks/price/price
include ../../blocks/dropdown-counters/dropdown-counters

block title
  title Cards

block head
  link(rel='stylesheet', href='cards.css')

block body
  -
    data = require('./cards.json');

  .cards
    .cards-one
      +form-search(data.formSearch)
      +form-reg(data.formReg)
    .cards-two
      +formlux(data.formLux)
      +form-signin(data.formSignIn)
    .cards-three 
      .js-datepicker-container
        .js-datepicker
      +slider-card(data.sliderCard)
      +slider-card(data.sliderCardTwo)
block script
  script(src='./cards.js')
