extends ../../layouts/base
include ../../blocks/form-search/form-search
include ../../blocks/form-lux/form-lux
include ../../blocks/form-sign-in/form-sign-in
include ../../blocks/form-reg/form-reg
include ../../blocks/calendar-card/calendar-card
include ../../blocks/image-card/image-card
include ../../components/button/button
include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/logo/logo
include ../../components/slick/slick
include ../../components/calendar/calendar
include ../../components/title/title
include ../../components/input/input
include ../../components/dropdown/dropdown
include ../../components/toggle/toggle
include ../../components/rate/rate

block title
  title Cards

block head
    link(rel="stylesheet" href="cards.css")
    
block content
  .cards
    .cards-one
      +form-search
      +form-reg
    .cards-two
     +formlux
     +form-signin
    .cards-three
     +calendar
     +image-card('888','145','9 900₽','люкс','1','6','7','8','room-1','1')
     +image-card('840','65','9 900₽','','2','8','9','4','room-2','2')
block script
    script(src="./cards.js")