@import '../../scss/_mixin';

.cards{
  background-color: $grey;
  @include container;
  padding: 150px 0 0 140px;
  display: flex;
  gap: 40px;
 
}
.cards-one,.cards-two,.cards-three{
  gap: 40px;
  display: flex;
  flex-direction: column;
}
