extends ../../layouts/base
include ../../blocks/form-search/form-search
include ../../blocks/form-lux/form-lux
include ../../blocks/form-sign-in/form-sign-in
include ../../blocks/form-reg/form-reg
include ../../blocks/slider-card/slider-card
include ../../blocks/button/button
include ../../blocks/checkbox/checkbox
include ../../blocks/radio/radio
include ../../blocks/slick/slick
include ../../blocks/calendar/calendar
include ../../blocks/title/title
include ../../blocks/text-field/text-field
include ../../blocks/dropdown/dropdown
include ../../blocks/toggle/toggle
include ../../blocks/rate/rate
include ../../blocks/reviews/reviews
include ../../blocks/price/price
include ../../blocks/dropdown-control/dropdown-control

block title
  title cards
  link(rel="stylesheet", href="cards.css")

block content
  -
    data = require("./cards.json");
    const {formSearch, formReg, formLux, formSignIn, sliderCard, sliderCardTwo} = data

  .cards
    .cards__container
      +form-search(formSearch)
      .cards__registration
        +form-reg(formReg)
    .cards__container
      +formlux(formLux)
      +form-signing(formSignIn)
    .cards__container
      .js-datepicker-container
        .js-datepicker
      +slider-card(sliderCard)
      +slider-card(sliderCardTwo)
  script(src="./cards.js")
