include ../components/logo/logo

doctype html
html(lang="ru")
    head
        meta(charset = "utf-8")
        meta(name="viewport" content="width=1440, initial-scale=1.0")
        //meta(name="viewport" content="width=width=device-width, initial-scale=1.0")
        
        
block title

block head
 
body
+uikit-logo
block body


block script