include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/footer-small/footer-small
include ../components/logo/logo
include ../components/button/button
include ../components/nav/nav
include ../components/list/list
include ../components/icon/icon
include ../components/input/input

doctype html
html(lang="ru")
    head
        meta(charset = "utf-8")
        //meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="viewport" content="width=1440, initial-scale=1.0")
        
block title

block head
 
body
 
+header
block content

block footer


footer.footer-rooms
      .footer-rooms__large
        +footer

      .footer-rooms__small
        +footer-small

block script