include ../blocks/header/header
include ../blocks/footer/footer
include ../components/logo/logo
include ../components/button/button
include ../components/nav/nav
include ../components/list/list
include ../components/icon/icon
include ../components/input/input

doctype html
html(lang="ru")
    head
        meta(charset = "utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="perfetto.css")
block title

block head
 
body
 
.container
 +header
block content

block footer
.box
 +footer
block script