include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/footer-small/footer-small
include ../blocks/button/button
include ../blocks/header-navigation/header-navigation
include ../blocks/footer-navigation/footer-navigation
include ../blocks/icon/icon
include ../blocks/text-field/text-field
include ../blocks/burger/burger

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicon.png")


    block title


  body.pages
    -
     data = require("../../pages/headers-footers/headers-footers.json");

    header.header-room
     +header(data.header)
    
    block content

    footer.footer-rooms
     .footer-rooms__large
      +footer(data.footer)

     .footer-rooms__small
      +footer-small(data.footerSmall)

