mixin header
  header.header
    .header-in
     .container
      .header-box
        .logotype
           +header-logo
        .navigation
         +header-nav
        .btn
          +btn-left
          +btn-right