mixin header(options={})
  - let { login = true, user = "Юлий Цезарь" } = options;

  header.header
    .header-main
      .header-main__container
        .header-main__logo
          +logo
          .header-main__burger-menu
            .header-main__burger-item.header-main__burger-item_1
            .header-main__burger-item.header-main__burger-item_2
            .header-main__burger-item.header-main__burger-item_3

        .header-main__nav
          +header-nav

          .header-main__items

          if login
            .header-main__button
              .header-main__button.header-main__left-button
                +button({text: "Войти",mods: 'border,content-size'})
              .header-main__button.header-main__right-button
                +button({text: 'Зарегистрироваться'})

          else
            .header-main__person= user
