.header-main {
  background-color: #fff;
  min-width: 320px;
  min-height: 70px;

  &__container {
    @include container(1%, 9.7%, 1%, 9.7%);

    @include flex-between;

    @media (max-width: 1439px) {
      padding: 0 28px;
    }

    @media (max-width: 970px) {
      flex-direction: column;
      align-items: unset;
      justify-content: center;
      padding: 15px 28px;
    }
  }

  &__nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 970px) {
      display: none;
      margin-top: 10px;
    }
  }

  &__open-menu {
    display: block;
  }

  &__button {
    display: flex;
    justify-content: space-between;

    @media (max-width: 970px) {
      margin-top: 10px;

      @include flex-column-center;

      & > * + * {
        margin-top: 10px;
      }
    }
  }

  &__button > * + * {
    margin-left: 20px;
  }

  &__left-button {
    height: 34px;
    width: 87px;
  }

  &__right-button {
    height: 34px;
    width: 196px;
  }

  &__logo {
    line-height: 0;
    display: flex;
    justify-content: space-between;
  }

  &__person {
    white-space: nowrap;
    padding: 6.5px 0 6.5px 21px;
    border-left: $border-01;

    @include intermediate-text;
  }
}
