mixin header(options={})
  - let { login = true, user = "Юлий Цезарь", list, button } = options;

  header.header
    .header-main
      .header-main__container
        .header-main__logo
          +logo
          +burger

        nav.header-main__nav
          +header-nav(list)

          .header-main__items

          if login
            .header-main__button
              .header-main__button.header-main__left-button
                +button(button.SigIn)
              .header-main__button.header-main__right-button
                +button(button.Reg)

          else
            .header-main__person= user
