.header-main{
  background-color: #fff;
  width: 1160px;
  height: 70px;
  @include flex-between;

&__container{
  display: flex;
  align-items: center;
  
  >*+*{margin-left: 23.5px;}
}
&__button{display: flex;}

&__logo{padding-top: 2px;}

&__button>*+*{margin-left: 20px;}

&__right-btn{
  width: 196px;
  height: 34px;
}
&__left-btn{
  width: 87px;
  height: 34px;
  margin-right: 1.5px;
}
 &__person{
white-space: nowrap;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: $dark50;
padding: 6.5px 0 6.5px 21px;
border-left: $border-01;
   
 }}