mixin checkboxes(checkboxes)
  - const { radio,radioOne,radioTwo,like,likeTwo,rate,rateTwo,items }= checkboxes
  - const { check,titleLike,titleRate,titleToggle,one,two,three,toggle } = items
  .checkboxes
    .checkboxes__title
      +title(check)
    .checkboxes__column
      +checkbox(one)
      +checkbox(two)
      +checkbox(three)
    .checkboxes__title
      +title(radio)
    .checkboxes__radio
      +radio(radioOne)
      +radio(radioTwo)
    .checkboxes__title
      +title(titleToggle)
    .checkboxes__toggle
      +toggle(toggle)
      +toggle
    .checkboxes__title
      +title(titleLike)
    .checkboxes__like
      +like(like)
      +like(likeTwo)
    .checkboxes__title
      +title(titleRate)
    .checkboxes__rate
      +rate-button(rate)
      +rate-button(rateTwo)
