.nav-list {
  display: flex;
  white-space: nowrap;
  list-style:  none;

  &__link_vakansii { margin-right: 1.5px;}

  &__link_about {margin-right: 1.5px;}

  &__text {
    text-decoration: none;
    @include intermediate-text;
    color: $dark50;
    font-weight: normal;
    margin-left: 20px;
    position: relative;
    text-align: center;
    cursor: pointer;

    &:hover {
      font-weight: bold;
      @include intermediate-text;
      color: $dark75;

    }}}
.nav-list__text_bg-1 {
  margin-right: 24px;

  &:after {
    @include material-font;
    content: 'expand_more';
    position: absolute;
    color: $dark50;
  }}
.nav-list__text_bg-2 {
  margin-right: 20px;
  &:after {
    @include material-font;
    content: 'expand_more';
    position: absolute;
    color: $dark50;
  }}