.nav-list{
  display: flex;
  white-space: nowrap;
  list-style:  none;

&__link_vakansii{
  margin-right: 1.5px;
}
&__link_about{
  margin-right: 1.5px;
}
&__text{
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: $dark50;
  font-style: normal;
  font-weight: normal;
  margin-left: 20px;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-family: Montserrat;
  
 
&:hover{
 font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: $dark75;
font-family: Montserrat;

}}
}

.nav-list__text_bg-1{
margin-right: 24px;

&:after{
  content: 'expand_more';
font-family: 'Material Icons';
position: absolute;
font-size: 24px;
line-height: 20px;
color: $dark50;
}}
.nav-list__text_bg-2{
margin-right: 20px;
&:after{
  content: 'expand_more';
font-family: 'Material Icons';
position: absolute;
font-size: 24px;
line-height: 20px;
color: $dark50;
}}