mixin header-nav
        ul.nav-list
         li.nav-list__text О нас
          a(href="#").nav-list__link
         li.nav-list__text.nav-list__text_bg_img Услуги
          a(href="#").nav-list__link
         li.nav-list__text Вакансии
          a(href="#").nav-list__link
         li.nav-list__text Новости
          a(href="#").nav-list__link
         li.nav-list__text.nav-list__text_bg_img Соглашения
          a(href="#").nav-list__link