.bullet-list {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  max-width: 240px;
  padding-left: 20px;
  list-style-type: none;

  @include body-text;

  &__items + &__items {
    margin-top: 10px;
  }

  &__items::before {
    content: '';
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    margin-top: 6px;
    border-radius: 50%;
    background-color: $dark25;
  }
}
