.nav-list {
  display: flex;
  list-style: none;
 
  @media (max-width: 1100px) {
    justify-content: space-between;
  }

  @media (max-width: 620px) {
    flex-direction: column;
  }

  &__link {
    margin-left: 20px;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    @include intermediate-text;

    @media (max-width: 1400px) {
      margin-left: 10px;
    }

    &:hover {
      @include intermediate-text(bold, $dark75);
    }

    &:active {
      @include intermediate-text(bold, $dark75);
    }
  }

  &__text:nth-child(2) {
    margin-right: 25px;

    @media (max-width: 620px) {
      margin-right: 0;
    }

    &:after {
      position: absolute;

      @include material-font;
    }
  }

  &__text:nth-child(5) {

    &:after {
      position: absolute;

      @include material-font;
    }
  }
}
