mixin header-nav(list)

  ul.nav-list
    each title in list
      
        li(class="nav-list__text")
          a(
            class="nav-list__link",
            href="/mock-address/change-me" target="_blank" 
          )= title
