.nav-list {
  display: flex;
  list-style: none;

  @media (max-width: 970px) {

    flex-direction: column;
  }

  &__link_vacancies {
    margin-right: .5px;
  }

  &__link_about {
    margin-right: 1px;
    
  }

  &__link {
    margin-left: 20px;
    text-decoration: none;
    position: relative;
    text-align: center;
    cursor: pointer;

    @include intermediate-text;

    @media (max-width: 1120px) {

      margin-left: 10px;
    }

    @media (max-width: 1130px) {

      margin-left: 5px;
    }

    @media (max-width: 970px) {
      
      padding-left: 43%;
      text-align: left;
    }

    @media (max-width: 800px) {
      
      padding-left: 40%;
    }
    
    @media (max-width: 500px) {

      padding-left: 35%;
    }

    &:hover {
      @include intermediate-text(bold, $dark75);
    }
    &:active {
      @include intermediate-text(bold, $dark75);
    }
  }

  &__text_services {
    margin-right: 25px;
  
    @media (max-width: 767px) {
    margin-right: 0;
    }

    &:after {
      position: absolute;

      @include material-font;
    }
  }

  &__text_agree {
    margin-right: 10px;

    @media (max-width: 767px) {
      margin-right: 0;
      }

    &:after {
      position: absolute;

      @include material-font;

    }
  }
}